In [1]:
import sqlite3
import numpy as np
import mysql.connector
import pandas as pd
import getpass
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
plotly.tools.set_credentials_file(username='mainakchain', api_key='B9m4DVrYYmsoW3jDSiok')
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
import plotly.figure_factory as ff
from scipy import stats
from sklearn.utils import shuffle
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from datetime import timedelta
from sklearn.ensemble import RandomForestRegressor
import datetime
import holidays
from sklearn.model_selection import cross_val_score
from sklearn.metrics import median_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVR
from sklearn.svm import SVR
import operator

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [168]:
time = pd.read_csv('time_between_two_tolls_new.csv')

In [242]:
toll_freq = dict(time['toll_both'].value_counts())
time['toll_freq'] = time['toll_both']
time['toll_freq'] = time['toll_freq'].apply(lambda x: toll_freq[x] )
m = int(0.3 * time['toll_freq'].median())
time = time[(time['toll_freq'] > m)]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [247]:
time.shape

(3582, 14)

In [227]:
time.toll_both.value_counts()

Gurapalli                                   183
Madapam                                     181
Manguli                                     180
Gudipada (Old Gangapada)                    179
Chilakapalem                                179
Sergrarh                                    179
Nathavalasa/ Vizianagaram                   178
Laxmipuram                                  178
Panikholi                                   178
Krishnavaram                                175
Budanam                                     175
Vempadu                                     174
Kalaparru                                   174
Kaza                                        174
Pottipadu                                   171
Sunambatti (Musunur)                        171
Bolapalli                                   171
Tangutur                                    167
Bellupada                                   156
Gaddurur                                    131
Mulbagal                                    128
Krishnagiri                                  40
Hoskote                                      27
Eethakota                                    12
Vaniyambadi                                  12
Unguturu                                     11
Main Toll (Gosthani Gate) (Sheela Nagar)      5
Aganampudi                                    5
Palempalli                                    4
Hasanpur (Sainkul)                            3
Pallikonda                                    3
Attibele (BETL)                               1
Name: toll_both, dtype: int64

In [215]:
toll_time = pd.read_csv('toll_time.csv')

In [216]:
toll_time = toll_time[toll_time['origin'] == 'Jamshedpur'][toll_time['destination'] == 'HOSUR']

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [224]:
toll_time.toll_both.value_counts()

Manguli                                     47
Vempadu                                     47
Gurapalli                                   46
Panikholi                                   46
Krishnavaram                                45
Gudipada (Old Gangapada)                    45
Kalaparru                                   45
Madapam                                     45
Pottipadu                                   44
Sunambatti (Musunur)                        44
Laxmipuram                                  44
Chilakapalem                                44
Nathavalasa/ Vizianagaram                   44
Bolapalli                                   44
Budanam                                     43
Venkatachallam &#160;(Old Nellore)          43
Sergrarh                                    43
Kaza                                        43
Tangutur                                    40
Mulbagal                                    35
Gaddurur                                    35
Bellupada                                   34
Hoskote                                     18
Attibele (BETL)                              7
Krishnagiri                                  6
Palempalli                                   3
Vaniyambadi                                  2
Aganampudi                                   2
Main Toll (Gosthani Gate) (Sheela Nagar)     2
Eethakota                                    1
Hasanpur (Sainkul)                           1
Unguturu                                     1
Pallikonda                                   1
Name: toll_both, dtype: int64

In [31]:
toll_time.toll_both.nunique()

33

In [33]:
# toll_time = time
# toll_time.drop(['Unnamed: 0'], axis=1,inplace=True)

In [34]:
toll_time

,origin,destination,toll_both,vehicle_no,loading_out_time,odometer_km,ist_timestamp,distance_from_toll,loading_in_time,start_date,eta,unloading_in_time,slug,delivery_status,distance_travelled,late_by_hrs,time_taken
3904,Jamshedpur,HOSUR,Aganampudi,JH01AE6027,2017-11-06 00:16:58,7915.73,2017-11-10 22:14:15,0.898483,2017-11-04 20:05:00,2017-11-04 00:00:00,2017-11-13 00:00:00,2017-11-13 01:39:39,ETJ0E000,early,624.41,-18.422500,117.954722
3905,Jamshedpur,HOSUR,Aganampudi,TN36Y9906,2017-11-04 23:23:59,6810.38,2017-11-07 01:37:32,0.805438,2017-11-04 05:45:21,2017-11-04 00:00:00,2017-11-16 00:00:00,2017-11-10 03:37:24,ETOYD000,early,627.52,-146.132500,50.225833
3906,Jamshedpur,HOSUR,Attibele (BETL),BR02GA3943,2017-12-01 00:18:48,9133.44,2017-12-04 21:51:11,0.977303,2017-11-30 05:35:54,2017-11-30 00:00:00,2017-12-08 00:00:00,2017-12-05 18:44:15,ETF9G000,early,1610.77,-58.860833,93.539722
3907,Jamshedpur,HOSUR,Attibele (BETL),OD07M1151,2017-11-30 04:58:30,9912.20,2017-12-03 23:40:14,0.672070,2017-11-29 05:00:12,2017-11-29 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:14,ET46G000,early,1641.28,-76.999444,90.695556
3908,Jamshedpur,HOSUR,Attibele (BETL),OR04M5329,2017-11-27 03:32:37,7302.32,2017-11-30 23:16:39,0.902463,2017-11-25 05:57:26,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:53,ETXSF000,early,1620.49,-77.942500,91.733889
3909,Jamshedpur,HOSUR,Attibele (BETL),OR07V0091,2017-11-27 03:16:12,11154.36,2017-11-30 22:57:04,0.861116,2017-11-25 06:03:58,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-12-04 00:14:03,ETZSF000,early,1611.30,-77.831944,91.681111
3910,Jamshedpur,HOSUR,Attibele (BETL),OR07W2988,2017-11-26 22:59:12,5659.67,2017-12-02 00:41:59,0.957378,2017-11-25 14:02:01,2017-11-25 00:00:00,2017-12-04 00:00:00,2017-12-04 08:19:42,ETHUF000,on-time,1615.10,-5.705278,121.713056
3911,Jamshedpur,HOSUR,Attibele (BETL),OR11J1747,2017-11-24 23:00:25,5947.85,2017-12-02 22:12:30,0.896532,2017-11-24 06:20:40,2017-11-24 00:00:00,2017-12-02 00:00:00,2017-12-03 00:00:42,ETDPF000,late,1625.30,17.667222,191.201389
3912,Jamshedpur,HOSUR,Attibele (BETL),WB23B7298,2017-11-30 14:58:09,6820.49,2017-12-05 01:34:25,0.931364,2017-11-28 11:02:52,2017-11-28 00:00:00,2017-12-06 00:00:00,2017-12-05 12:52:17,ETU3G000,early,1509.52,-22.176389,106.604444
3913,Jamshedpur,HOSUR,Bellupada,AP04TX2171,2017-11-22 19:30:49,8130.89,2017-11-24 03:29:09,0.250613,2017-11-22 14:50:16,2017-11-22 00:00:00,2017-12-04 00:00:00,2017-11-28 05:08:28,ETAHF000,early,376.19,-153.696667,31.972222
3914,Jamshedpur,HOSUR,Bellupada,AP05TF2187,2017-11-02 23:14:24,10629.83,2017-11-03 23:10:37,0.019795,2017-11-02 03:55:34,2017-11-02 00:00:00,2017-11-14 00:00:00,2017-11-07 14:22:19,ETOSD000,early,375.88,-157.554167,23.936944
3915,Jamshedpur,HOSUR,Bellupada,AP07TU2566,2017-11-19 14:40:40,5239.46,2017-11-24 03:34:53,0.586977,2017-11-19 03:36:54,2017-11-19 00:00:00,2017-11-28 00:00:00,2017-11-28 05:11:51,ETD6F000,on-time,374.88,1.582500,108.903611
3916,Jamshedpur,HOSUR,Bellupada,BR02GA3943,2017-12-01 00:18:48,7898.50,2017-12-03 05:35:54,0.651159,2017-11-30 05:35:54,2017-11-30 00:00:00,2017-12-08 00:00:00,2017-12-05 18:44:15,ETF9G000,early,375.83,-58.860833,53.285000
3917,Jamshedpur,HOSUR,Bellupada,CG04DK4870,2017-11-16 04:16:28,8004.95,2017-11-20 04:23:23,0.969638,2017-11-15 04:41:42,2017-11-15 00:00:00,2017-11-24 00:00:00,2017-11-22 06:14:30,ETNUE000,early,374.49,-46.453333,96.115278
3918,Jamshedpur,HOSUR,Bellupada,CG04FB5095,2017-11-29 04:48:49,5580.21,2017-12-02 07:35:20,0.639690,2017-11-28 04:23:30,2017-11-28 00:00:00,2017-12-10 00:00:00,2017-12-05 19:24:21,ETV2G000,early,375.67,-104.985833,74.775278
3919,Jamshedpur,HOSUR,Bellupada,CG08L3445,2017-11-25 04:00:27,6095.94,2017-11-26 16:31:20,0.309588,2017-11-23 20:14:09,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-29 00:04:35,ETHOF000,early,375.35,-92.159444,36.514722
3920,Jamshedpur,HOSUR,Bellupada,JH01AE6027,2017-11-06 00:16:58,7665.39,2017-11-10 06:52:59,0.865285,2017-11-04 20:05:00,2017-11-04 00:00:00,2017-11-13 00:00:00,2017-11-13 01:39:39,ETJ0E000,early,374.07,-18.422500,102.600278
3921,Jamshedpur,HOSUR,Bellupada,JH01AE6027,2017-11-29 01:25:09,4964.13,2017-12-01 06:22:44,0.492805,2017-11-28 04:45:02,2017-11-28 00:00:00,2017-12-10 00:00:00,2017-12-04 00:07:24,ET93G000,early,309.55,-148.627222,52.959722
3922,Jamshedpur,HOSUR,Bellupada,JH02M1289,2017-11-29 23:09:26,7439.05,2017-12-02 21:19:22,0.862849,2017-11-28 12:44:22,2017-11-28 00:00:00,2017-12-04 00:00:00,2017-12-06 02:38:16,ET04G000,late,374.88,37.898333,70.165556
3923,Jamshedpur,HOSUR,Bellupada,JH05AE4540,2017-11-25 22:40:42,8857.59,2017-11-28 06:06:16,0.706134,2017-11-24 06:15:14,2017-11-24 00:00:00,2017-12-03 00:00:00,2017-12-01 00:11:55,ET9PF000,early,340.90,-54.055278,55.426111
3924,Jamshedpur,HOSUR,Bellupada,JH05BQ1509,2017-11-14 22:58:28,5354.79,2017-11-18 01:36:53,0.420274,2017-11-12 16:55:44,2017-11-12 00:00:00,2017-11-21 00:00:00,2017-11-20 03:36:34,ET9NE000,early,317.47,-37.319444,74.640278
3925,Jamshedpur,HOSUR,Bellupada,JH05V5242,2017-11-03 02:33:06,4399.99,2017-11-04 05:45:54,0.336488,2017-11-02 05:29:47,2017-11-02 00:00:00,2017-11-14 00:00:00,2017-11-06 19:16:19,ETUSD000,early,374.92,-178.224444,27.213333
3926,Jamshedpur,HOSUR,Bellupada,JH10BR9134,2017-11-16 02:42:03,3576.00,2017-11-17 07:35:59,0.579414,2017-11-12 04:19:43,2017-11-12 00:00:00,2017-11-21 00:00:00,2017-11-19 17:35:02,ETCME000,early,281.54,-34.744722,28.898889
3927,Jamshedpur,HOSUR,Bellupada,NL01N5129,2017-11-08 01:40:00,2292.00,2017-11-11 02:40:22,0.726055,2017-11-07 11:34:36,2017-11-06 00:00:00,2017-11-18 00:00:00,2017-11-14 00:13:18,ETR2E000,early,374.83,-131.355000,73.006111
3928,Jamshedpur,HOSUR,Bellupada,OD04D0605,2017-11-17 23:55:19,6260.34,2017-11-21 01:06:56,0.943187,2017-11-17 03:30:32,2017-11-17 00:00:00,2017-11-24 00:00:00,2017-11-23 19:17:38,ETQ1F000,on-time,375.27,-8.215000,73.193611
3929,Jamshedpur,HOSUR,Bellupada,OD04D5891,2017-11-22 04:08:15,10211.63,2017-11-25 17:19:43,0.404579,2017-11-21 12:35:07,2017-11-21 00:00:00,2017-11-30 00:00:00,2017-11-27 21:19:27,ETVAF000,early,375.65,-63.261111,85.191111
3930,Jamshedpur,HOSUR,Bellupada,OD04F2036,2017-11-17 00:23:36,7918.89,2017-11-19 09:20:30,0.195008,2017-11-15 04:28:47,2017-11-15 00:00:00,2017-11-24 00:00:00,2017-11-22 00:05:58,ETBUE000,early,375.33,-52.380278,56.948333
3931,Jamshedpur,HOSUR,Bellupada,OR01S7415,2017-11-21 23:28:00,6177.34,2017-11-24 13:24:38,0.388891,2017-11-20 15:38:34,2017-11-19 00:00:00,2017-11-27 00:00:00,2017-11-27 03:47:21,ETF6F000,early,377.35,-35.853611,61.943889
3932,Jamshedpur,HOSUR,Bellupada,OR04M5329,2017-11-05 08:50:35,3828.23,2017-11-08 08:46:18,0.772920,2017-11-05 03:29:14,2017-11-05 00:00:00,2017-11-18 00:00:00,2017-11-10 23:00:01,ETC1E000,early,375.60,-172.486944,71.928611
3933,Jamshedpur,HOSUR,Bellupada,OR04M5329,2017-11-27 03:32:37,6057.61,2017-11-28 09:39:14,0.305959,2017-11-25 05:57:26,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:53,ETXSF000,early,375.78,-77.942500,30.110278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4864,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),JH10BR9134,2017-11-16 02:42:03,4478.67,2017-11-18 22:02:15,0.625615,2017-11-12 04:19:43,2017-11-12 00:00:00,2017-11-21 00:00:00,2017-11-19 17:35:02,ETCME000,early,1184.21,-34.744722,67.336667
4865,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),NL01N5129,2017-11-08 01:40:00,3149.96,2017-11-13 05:43:40,0.753633,2017-11-07 11:34:36,2017-11-06 00:00:00,2017-11-18 00:00:00,2017-11-14 00:13:18,ETR2E000,early,1232.79,-131.355000,124.061111
4866,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04D0605,2017-11-17 23:55:19,7129.29,2017-11-23 06:21:42,0.633657,2017-11-17 03:30:32,2017-11-17 00:00:00,2017-11-24 00:00:00,2017-11-23 19:17:38,ETQ1F000,on-time,1244.22,-8.215000,126.439722
4867,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04D5891,2017-11-22 04:08:15,11077.49,2017-11-27 07:48:13,0.540692,2017-11-21 12:35:07,2017-11-21 00:00:00,2017-11-30 00:00:00,2017-11-27 21:19:27,ETVAF000,early,1241.51,-63.261111,123.666111
4868,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04F2036,2017-11-17 00:23:36,8786.77,2017-11-21 08:52:11,0.996598,2017-11-15 04:28:47,2017-11-15 00:00:00,2017-11-24 00:00:00,2017-11-22 00:05:58,ETBUE000,early,1243.21,-52.380278,104.476389
4869,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04G4791,2017-11-03 10:25:26,5165.14,2017-11-07 07:51:04,0.623074,2017-11-02 15:21:26,2017-11-02 00:00:00,2017-11-11 00:00:00,2017-11-07 19:25:07,ETFTD000,early,1239.02,-91.938611,93.427222
4870,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04G4791,2017-11-24 15:01:49,7680.15,2017-11-29 07:21:11,0.890431,2017-11-23 00:00:59,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-30 04:29:29,ETBLF000,early,1243.67,-43.525000,112.322778
4871,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD04H5921,2017-11-24 10:43:11,6967.66,2017-11-29 07:20:12,0.882570,2017-11-22 02:40:50,2017-11-22 00:00:00,2017-11-30 00:00:00,2017-11-29 20:25:17,ET3JF000,on-time,1241.19,-6.259167,116.616944
4872,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OD07M1151,2017-11-30 04:58:30,9529.49,2017-12-02 22:39:01,0.790957,2017-11-29 05:00:12,2017-11-29 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:14,ET46G000,early,1258.57,-76.999444,65.675278
4873,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR01S7415,2017-11-21 23:28:00,7062.03,2017-11-26 08:55:07,0.668996,2017-11-20 15:38:34,2017-11-19 00:00:00,2017-11-27 00:00:00,2017-11-27 03:47:21,ETF6F000,early,1262.04,-35.853611,105.451944
4874,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR04M5329,2017-11-05 08:50:35,4678.48,2017-11-09 22:21:41,0.014158,2017-11-05 03:29:14,2017-11-05 00:00:00,2017-11-18 00:00:00,2017-11-10 23:00:01,ETC1E000,early,1225.85,-172.486944,109.518333
4875,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR04M5329,2017-11-27 03:32:37,6925.91,2017-11-29 23:32:19,0.775342,2017-11-25 05:57:26,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:53,ETXSF000,early,1244.08,-77.942500,67.995000
4876,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR04M6922,2017-12-01 04:19:37,10034.88,2017-12-04 04:54:18,0.964172,2017-11-30 13:22:01,2017-11-30 00:00:00,2017-12-12 00:00:00,2017-12-06 00:00:41,ETNAG000,early,1239.92,-157.355556,72.578056
4877,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR05AJ1525,2017-11-29 10:21:45,10038.21,2017-12-05 04:43:36,0.831852,2017-11-29 05:15:06,2017-11-29 00:00:00,2017-12-07 00:00:00,2017-12-05 19:24:28,ETD6G000,early,1235.53,-33.843889,138.364167
4878,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR05AJ4215,2017-11-17 01:37:52,8913.62,2017-11-20 22:00:29,0.273659,2017-11-16 10:35:39,2017-11-16 00:00:00,2017-11-25 00:00:00,2017-11-21 22:38:27,ETMYE000,early,1239.06,-83.953333,92.376944
4879,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR05AJ8915,2017-11-25 02:04:10,6387.49,2017-11-29 12:07:25,0.660231,2017-11-23 13:41:43,2017-11-23 00:00:00,2017-12-05 00:00:00,2017-11-30 05:37:34,ETOMF000,early,1243.76,-128.069167,106.054167
4880,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR05U6821,2017-11-17 03:04:44,7876.92,2017-11-21 12:24:06,0.492098,2017-11-15 19:16:02,2017-11-15 00:00:00,2017-11-19 00:00:00,2017-11-22 01:59:53,ETOWE000,late,1235.68,54.730833,105.322778
4881,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07J9793,2017-11-16 10:55:02,6166.72,2017-11-20 18:24:37,0.992554,2017-11-12 20:03:47,2017-11-12 00:00:00,2017-11-21 00:00:00,2017-11-21 06:21:58,ETANE000,early,1231.91,-13.696944,103.493056
4882,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07V0091,2017-11-27 03:16:12,10779.19,2017-11-30 08:13:50,0.543652,2017-11-25 06:03:58,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-12-04 00:14:03,ETZSF000,early,1236.13,-77.831944,76.960556
4883,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07V2855,2017-11-25 16:07:11,6921.81,2017-12-02 07:26:26,0.609538,2017-11-23 05:08:47,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-12-02 18:17:05,ETDLF000,late,1237.24,13.138333,159.320833
4884,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07V5231,2017-11-28 00:14:13,6489.94,2017-12-04 15:03:30,0.368364,2017-11-26 04:50:55,2017-11-26 00:00:00,2017-12-08 00:00:00,2017-12-05 22:53:58,ETBXF000,early,261.40,-53.949167,158.821389
4885,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07W2988,2017-11-08 23:03:05,3569.31,2017-11-12 09:07:28,0.996979,2017-11-05 03:50:03,2017-11-05 00:00:00,2017-11-17 00:00:00,2017-11-12 21:21:39,ETB1E000,early,1128.01,-102.473333,82.073056
4886,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07W2988,2017-11-26 22:59:12,5284.57,2017-11-30 17:08:40,0.545015,2017-11-25 14:02:01,2017-11-25 00:00:00,2017-12-04 00:00:00,2017-12-04 08:19:42,ETHUF000,on-time,1240.00,-5.705278,90.157778
4887,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07Y7231,2017-11-23 23:58:17,11809.22,2017-11-27 19:29:10,0.406553,2017-11-18 02:42:47,2017-11-18 00:00:00,2017-11-26 00:00:00,2017-11-28 17:35:14,ETS4F000,late,1250.55,62.874167,91.514722
4888,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR07Y9451,2017-11-25 03:56:05,7896.21,2017-11-29 13:03:23,0.382273,2017-11-23 20:27:29,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-30 14:02:15,ETIOF000,early,1233.81,-54.420556,105.121667
4889,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),OR11J1747,2017-11-24 23:00:25,5570.52,2017-12-01 15:05:09,0.419097,2017-11-24 06:20:40,2017-11-24 00:00:00,2017-12-02 00:00:00,2017-12-03 00:00:42,ETDPF000,late,1247.97,17.667222,160.078889
4890,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),TN30BC5699,2017-11-03 14:57:08,5179.15,2017-11-06 06:34:06,0.827115,2017-11-03 03:23:06,2017-11-03 00:00:00,2017-11-15 00:00:00,2017-11-06 18:29:09,ETXUD000,early,1244.73,-200.899167,63.616111
4891,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),TN36Y9906,2017-11-04 23:23:59,7417.07,2017-11-08 21:28:31,0.576954,2017-11-04 05:45:21,2017-11-04 00:00:00,2017-11-16 00:00:00,2017-11-10 03:37:24,ETOYD000,early,1234.21,-146.132500,94.075556
4892,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),WB23B7298,2017-11-30 14:58:09,6476.74,2017-12-04 09:39:59,0.369053,2017-11-28 11:02:52,2017-11-28 00:00:00,2017-12-06 00:00:00,2017-12-05 12:52:17,ETU3G000,early,1165.77,-22.176389,90.697222
4893,Jamshedpur,HOSUR,Venkatachallam &#160;(Old Nellore),WB23C9411,2017-11-09 23:01:14,2808.90,2017-11-17 20:28:53,0.870039,2017-11-05 14:17:59,2017-11-05 00:00:00,2017-11-13 00:00:00,2017-11-21 04:31:59,ET42E000,late,1242.01,182.233333,189.460833

In [18]:
# toll_time.drop(['Unnamed: 0'], axis=1, inplace=True)

In [35]:
new_toll_time = toll_time.copy()

In [36]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_toll_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

In [37]:
new_toll_time['start_date'] = new_toll_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['days_from_now'] = new_toll_time['today'] - new_toll_time['start_date'] 
new_toll_time['days_from_now'] = new_toll_time['days_from_now'].apply(lambda x: x.days)

In [38]:
new_toll_time = toll_time.copy()

In [39]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_toll_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

new_toll_time['start_date'] = new_toll_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['days_from_now'] = new_toll_time['today'] - new_toll_time['start_date'] 
new_toll_time['days_from_now'] = new_toll_time['days_from_now'].apply(lambda x: x.days)

new_toll_time['unloading_in_time'] = new_toll_time['unloading_in_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['avg_travel_time'] = new_toll_time['start_date'] + (new_toll_time['unloading_in_time'] - new_toll_time['start_date'])/2

new_toll_time['month_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.month)

new_toll_time['ist_timestamp'] = new_toll_time['ist_timestamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
new_toll_time['time_of_travel'] = new_toll_time.ist_timestamp.apply(lambda x: x.hour)

new_toll_time['day_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.weekday())

new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x: x.hour)

In [40]:
new_toll_time = new_toll_time[['toll_both','vehicle_no','loading_out_time','distance_travelled','time_of_travel','day_of_travel','month_of_travel','days_from_now','time_taken']]

In [151]:
# toll_dict = {'Sergrarh':1,'Panikholi':2, 'Manguli':3, 'Gudipada (Old Gangapada)':4, 'Gurapalli':5, 'Bellupada':6, 'Madapam':7, 'Chilakapalem':8, 'Nathavalasa/ Vizianagaram':9, 'Laxmipuram':10, 'Vempadu':11, 'Krishnavaram':12, 'Kalaparru':13, 'Pottipadu':14, 'Kaza':15, 'Bolapalli':16, 'Sunambatti (Musunur)':17, 'Venkatachallam &#160;(Old Nellore)':18, 'Budanam':19, 'Gaddurur':20, 'Mulbagal':21, 'Hoskote':22, 'Attibele (BETL)':23, 'Aganampudi':24}

In [46]:
def find_toll_num(df):
    toll_dict = {}
    new_toll_dict = {}
    num = 1
    for toll in df.toll_both.unique().tolist():
        d = df['distance_travelled'][df.toll_both == toll].mean()
        toll_dict[toll] = d
    
    for key, value in sorted(toll_dict.iteritems(), key=lambda (k,v): (v,k)):
        new_toll_dict[key] = num
        num+=1
        
    return new_toll_dict

In [48]:
new_toll_dict = find_toll_num(new_toll_time)

In [65]:
train_df = new_toll_time.copy()
test_df= pd.DataFrame(columns=['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_taken'])
choice = True
while(choice):
    today_date = datetime.datetime.now()
    vehicle = raw_input('Enter the vehicle no.: ')
    start = raw_input('Enter the start date in %Y-%m-%d %H:%M:%S format: ')
    start_delta = datetime.datetime.strptime(start, '%Y-%m-%d %H:%M:%S')
    
    loading_out = raw_input('Enter the loading out time in %Y-%m-%d %H:%M:%S format: ')
    loading_out_delta = datetime.datetime.strptime(loading_out, '%Y-%m-%d %H:%M:%S')
    
    a = []
    loop = input('Enter the number of tolls vehicle crossed sequentitially: ')
    count = 0
    print '      '
    while (count != loop):
        b = []
        toll = raw_input('Toll both: ')
        distance = input('Distance travelled from 1st toll in km: ')
        ist = raw_input('IST Timestamp in %Y-%m-%d %H:%M:%S format: ')
        ist_delta = datetime.datetime.strptime(ist, '%Y-%m-%d %H:%M:%S')
        b.extend([toll, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])
        a.append(b)
        count+=1
    
    add_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_btn_tolls'])
    train_df = train_df.append(add_df)
    
    test_toll = raw_input('Enter the numbers of tolls the vehicle shall take in the journey sequentially: ')
    test_toll_list = test_toll.split(',')
    test_toll_list = [str(a) for a in test_toll_list]

    a = []

    for toll_val in test_toll_list:
        b = []
        distance = toll_time['distance_travelled'][toll_time.toll_both == toll_val].median()
        ist_delta = loading_out_delta + timedelta(hours=toll_time['time_taken'][toll_time.toll_both == toll_val].median())
        b.extend([toll_val, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])

        a.append(b)
    add_test_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now','time_btn_tolls'])
    
    test_df = test_df.append(add_test_df)
    
    c = raw_input('Want to enter more vehicles?(y/n)')
    
    if (c == 'y' or c == 'Y'):
        continue
    elif (c == 'n' or c == 'N'):
        choice = False
        print 'bbye'
    else:
        print 'Wrong Choice! Exiting'
        choice = False

Enter the vehicle no.: OR04M532M
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-11-02 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-11-03 12:02:43
Enter the number of tolls vehicle crossed sequentitially: 3

Toll both: Sergrarh
Distance travelled from 1st toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 08:22:51
Toll both: Panikholi
Distance travelled from 1st toll in km: 95.1
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 10:42:12
Toll both: Manguli
Distance travelled from 1st toll in km: 146.8
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 12:10:12
Enter the numbers of tolls the vehicle shall take in the journey sequentially: Gudipada (Old Gangapada),Gurapalli,Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Laxmipuram,Vempadu,Krishnavaram,Kalaparru,Pottipadu,Kaza,Bolapalli,Sunambatti (Musunur),Venkatachallam &#160;(Old Nellore),Budanam,Gaddurur,Mulbagal,Hoskote,Attibele (BETL)
Want to enter more vehicles?(y/n)y
Enter the vehicle no.: OR04M53MM
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-10-20 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-10-21 21:00:42
Enter the number of tolls vehicle crossed sequentitially: 5

Toll both: Sergrarh
Distance travelled from 1st toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 17:11:43
Toll both: Panikholi
Distance travelled from 1st toll in km: 94.6
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 19:35:13
Toll both: Manguli
Distance travelled from 1st toll in km: 146.5
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 21:10:53
Toll both: Gudipada (Old Gangapada)
Distance travelled from 1st toll in km: 204.6
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 23:20:17
Toll both: Gurapalli
Distance travelled from 1st toll in km: 293.59
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-23 01:35:49
Enter the numbers of tolls the vehicle shall take in the journey sequentially: Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Laxmipuram,Vempadu,Krishnavaram,Kalaparru,Pottipadu,Kaza,Bolapalli,Sunambatti (Musunur),Venkatachallam &#160;(Old Nellore),Budanam,Gaddurur,Mulbagal,Hoskote,Attibele (BETL)
Want to enter more vehicles?(y/n)n
bbye

In [66]:
train_df = train_df.reset_index(drop=True)
test_df = test_df.reset_index(drop=True)

In [72]:
train_df.to_csv('final_train_df_14Dec2017.csv')
test_df.to_csv('final_test_df_14Dec2017.csv')

In [73]:
train_df.shape, test_df.shape

((998, 9), (38, 9))

In [74]:
# test_df

In [75]:
# def change_toll_booth_to_dummy(df):
#     num = 1
#     dict_toll_both = {}
#     for toll in df['toll_both'].unique().tolist():
#         df['toll_both'] = df['toll_both'].replace({toll: num})
#         dict_toll_both[num] = toll
#         num += 1
#     return dict_toll_both

In [76]:
# dict_toll_both_train_df = change_toll_booth_to_dummy(train_df)
train_df.toll_both = train_df.toll_both.replace(new_toll_dict)
test_df.toll_both = test_df.toll_both.replace(new_toll_dict)

In [77]:
def change_vehicle_no_to_dummy(df):
    num = 1
    dict_vehicle_no = {}
    for truck in df['vehicle_no'].unique().tolist():
        df['vehicle_no'] = df['vehicle_no'].replace({truck: num})
        dict_vehicle_no[num] = truck
        num += 1
    return dict_vehicle_no

In [78]:
dict_vehicle_no_train_df = change_vehicle_no_to_dummy(train_df)

In [79]:
rev_dict_vehicle_no_test_df = dict((v,k) for k,v in dict_vehicle_no_train_df.iteritems())

In [80]:
test_df.vehicle_no = test_df.vehicle_no.replace(rev_dict_vehicle_no_test_df)

In [81]:
train_df['virtual_avg_speed'] = train_df['distance_travelled'] / train_df['time_taken']
test_df['virtual_avg_speed'] = test_df['distance_travelled'] / test_df['time_taken']

In [82]:
test_df_copy = test_df.copy()

In [83]:
test_df.drop(['time_taken'], axis=1, inplace=True)

In [163]:
# MODEL BUILDING AND APPLICATION

In [84]:
train_X = train_df.drop(['time_taken'], axis=1)
train_y = train_df.time_taken

In [85]:
train_X.shape

(998, 9)

In [86]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y, test_size=0.3, random_state=42)

In [87]:
reg_mlp = MLPRegressor(hidden_layer_sizes=(100,50), activation='logistic', alpha=8, solver='lbfgs', random_state=42)

In [88]:
scale= MinMaxScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [89]:
reg_mlp.fit(X_train_scaled, y_train)
reg_mlp.score(X_test_scaled, y_test) * 100

88.360236166104116

In [90]:
scores = cross_val_score(reg_mlp, X_train_scaled, y_train, scoring='r2', n_jobs=-1)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.97 (+/- 0.03)

In [91]:
scale = MinMaxScaler()
X_predict_scaled = scale.fit_transform(test_df)

In [92]:
predictions = reg_mlp.predict(X_predict_scaled)

In [127]:
show_df = test_df.copy()
show_df['predicted'] = predictions

In [128]:
show_df['predict_diff'] = show_df['predicted'].diff()

In [129]:
def med_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].median()

In [130]:
def mean_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].mean()

In [131]:
show_df['med_time'] = show_df['toll_both']
show_df['med_time'] = show_df.med_time.apply(lambda x:med_toll_time_taken(x))
show_df['mean_time'] = show_df['toll_both']
show_df['mean_time'] = show_df.mean_time.apply(lambda x:mean_toll_time_taken(x))

In [132]:
show_df['avg_pred_med'] = (show_df['predicted'] + show_df['med_time']) / 2

In [133]:
x = train_df
x['avg_speed'] = x.distance_travelled/ x.time_taken
x = x[x.vehicle_no == 25].sort_values('distance_travelled')
x['avg_speed'] = x.distance_travelled/(x.time_taken - 40.88)
x

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
793,2,25,23,0.00,16,3,11,25,40.885833,0.000000,0.000000
704,3,25,23,90.70,21,3,11,25,45.974444,1.972835,17.803708
576,4,25,23,147.17,5,3,11,25,53.906389,2.730103,11.297836
235,5,25,23,204.06,6,3,11,25,55.247222,3.693579,14.203163
280,6,25,23,292.31,9,3,11,25,58.063611,5.034306,17.010976
27,7,25,23,377.35,13,3,11,25,61.943889,6.091804,17.914546
528,8,25,23,493.02,17,3,11,25,66.076667,7.461333,19.566874
154,9,25,23,520.71,18,3,11,25,66.876667,7.786124,20.029876
657,11,25,23,560.93,19,3,11,25,67.979444,8.251465,20.698948
484,10,25,23,560.93,19,3,11,25,67.979444,8.251465,20.698948
926,14,25,23,692.98,6,3,11,25,78.736667,8.801236,18.305362
439,15,25,23,763.54,8,3,11,25,80.906944,9.437262,19.075650
344,18,25,23,913.49,12,3,11,25,85.330278,10.705344,20.550828
750,19,25,23,935.46,13,3,11,25,85.913611,10.888379,20.772485
388,20,25,23,982.27,15,3,11,25,87.833333,11.183340,20.920133
66,21,25,23,1065.71,18,3,11,25,90.722500,11.746921,21.381552
879,22,25,23,1130.22,21,3,11,25,93.809167,12.048076,21.353444
836,24,25,23,1194.00,6,3,11,25,102.798333,11.614974,19.283465
969,25,25,23,1262.04,8,3,11,25,105.451944,11.967916,19.544711
109,26,25,23,1292.76,9,3,11,25,106.454444,12.143786,19.714387
194,27,25,23,1517.79,18,3,11,25,115.140000,13.182126,20.438863
616,28,25,23,1549.00,19,3,11,25,116.326389,13.315981,20.531135

In [134]:
train_df[train_df['vehicle_no'] == 45]

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
990,2,45,12,0.0,8,5,11,40,20.335556,0.000000,0.000000
991,3,45,12,95.1,10,5,11,40,22.658056,4.197183,4.197183
992,4,45,12,146.8,12,5,11,40,24.124722,6.085044,6.085044

In [135]:
show_df['avg_speed_pred'] = show_df['distance_travelled']/show_df['predicted']
show_df['avg_speed_med'] = show_df['distance_travelled']/show_df['med_time']

In [136]:
show_df['test_pred'] = show_df['predicted'] + show_df.avg_speed_pred

In [137]:
show_df['round_pred'] = show_df['predicted'].round()

In [138]:
show_df['median_input'] =  test_df_copy['time_taken']

In [139]:
show_df.drop(['virtual_avg_speed','predict_diff','mean_time','avg_pred_med','avg_speed_med','avg_speed_pred'], axis=1, inplace=True)

In [157]:
show_df['mean_pred_med'] = (show_df['round_pred'] + show_df['median_input'] )/2

In [158]:
train_df[(train_df['toll_both'] == 33) | (train_df['toll_both'] == 32)]

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
2,33,3,0,1610.77,21,5,12,14,93.539722,17.220171,17.220171
3,33,4,4,1641.28,23,4,12,15,90.695556,18.096587,18.096587
4,33,5,3,1620.49,23,2,11,19,91.733889,17.665118,17.665118
5,33,6,3,1611.30,22,2,11,19,91.681111,17.575049,17.575049
6,33,7,22,1615.10,0,2,11,19,121.713056,13.269735,13.269735
7,33,8,23,1625.30,22,1,11,20,191.201389,8.500461,8.500461
8,33,9,14,1509.52,1,4,12,16,106.604444,14.160010,14.160010
302,32,3,0,1574.09,18,5,12,14,90.166111,17.457668,17.457668
303,32,13,4,1578.05,5,5,11,29,144.914167,10.889550,10.889550
304,32,1,0,1584.41,0,2,11,40,168.228056,9.418227,9.418227
305,32,16,23,1574.79,1,5,12,16,146.097222,10.779055,10.779055
306,32,17,22,1546.99,17,0,11,20,114.960000,13.456768,13.456768
307,32,21,1,1571.04,19,4,11,38,137.944722,11.388910,11.388910
308,32,24,0,1582.97,22,5,11,29,118.489444,13.359587,13.359587
309,32,38,15,1584.11,20,6,11,21,125.666389,12.605678,12.605678
310,32,4,4,1600.56,18,4,12,15,85.666389,18.683640,18.683640
311,32,5,8,1559.10,17,1,11,39,128.515833,12.131579,12.131579
312,32,5,3,1584.69,21,2,11,19,90.010833,17.605547,17.605547
313,32,27,1,1576.51,15,5,11,28,110.215833,14.303843,14.303843
314,32,28,2,1584.85,0,6,11,21,118.666944,13.355446,13.355446
315,32,41,3,1569.80,0,5,11,29,117.335556,13.378724,13.378724
316,32,6,3,1575.17,21,2,11,19,90.211667,17.460824,17.460824
317,32,7,22,1578.99,15,2,11,19,112.044167,14.092568,14.092568
318,32,8,23,1588.94,15,1,11,20,184.901667,8.593433,8.593433
319,32,9,14,1474.41,0,4,12,16,105.486111,13.977290,13.977290

In [160]:
new_toll_dict

{'Aganampudi': 13,
 'Attibele (BETL)': 33,
 'Bellupada': 7,
 'Bolapalli': 21,
 'Budanam': 26,
 'Chilakapalem': 9,
 'Eethakota': 16,
 'Gaddurur': 27,
 'Gudipada (Old Gangapada)': 5,
 'Gurapalli': 6,
 'Hasanpur (Sainkul)': 1,
 'Hoskote': 32,
 'Kalaparru': 18,
 'Kaza': 20,
 'Krishnagiri': 31,
 'Krishnavaram': 15,
 'Laxmipuram': 10,
 'Madapam': 8,
 'Main Toll (Gosthani Gate) (Sheela Nagar)': 12,
 'Manguli': 4,
 'Mulbagal': 28,
 'Nathavalasa/ Vizianagaram': 11,
 'Palempalli': 23,
 'Pallikonda': 29,
 'Panikholi': 3,
 'Pottipadu': 19,
 'Sergrarh': 2,
 'Sunambatti (Musunur)': 24,
 'Tangutur': 22,
 'Unguturu': 17,
 'Vaniyambadi': 30,
 'Vempadu': 14,
 'Venkatachallam &#160;(Old Nellore)': 25}

In [159]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,med_time,test_pred,round_pred,median_input,mean_pred_med
0,5,45,12,203.320,10,6,11,40,40.966541,45.996250,45.929616,41.0,46.387500,43.693750
1,6,45,12,291.250,13,6,11,40,37.942090,49.686667,45.618262,38.0,49.882639,43.941319
2,7,45,12,375.245,20,6,11,40,51.406044,56.755556,58.705672,51.0,56.755556,53.877778
3,8,45,12,490.530,0,0,11,40,55.744775,60.303056,64.544344,56.0,60.303056,58.151528
4,9,45,12,517.415,3,0,11,40,61.819924,63.638889,70.189637,62.0,63.638889,62.819444
5,11,45,12,556.620,5,0,11,40,64.102620,65.382917,72.785885,64.0,65.382917,64.691458
6,10,45,12,556.620,5,0,11,40,63.573588,65.382917,72.329111,64.0,65.382917,64.691458
7,14,45,12,684.270,11,0,11,40,68.525055,71.403333,78.510745,69.0,71.403333,70.201667
8,15,45,12,753.930,16,0,11,40,74.526918,76.884444,84.643129,75.0,76.884444,75.942222
9,18,45,12,897.510,2,1,11,40,84.239283,86.089444,94.893576,84.0,86.089444,85.044722
10,19,45,12,918.860,2,1,11,40,83.769129,86.291944,94.738086,84.0,86.291944,85.145972
11,20,45,12,964.230,4,1,11,40,84.842131,88.036944,96.207121,85.0,88.036944,86.518472
12,21,45,12,1046.730,8,1,11,40,88.609056,92.291944,100.421957,89.0,92.291944,90.645972
13,24,45,12,1171.885,18,1,11,40,99.691590,102.037083,111.446694,100.0,102.037083,101.018542
14,25,45,12,1239.060,21,1,11,40,102.589618,105.121667,114.667449,103.0,105.121667,104.060833
15,26,45,12,1269.870,22,1,11,40,103.205140,106.137500,115.509469,103.0,106.137500,104.568750
16,27,45,12,1487.190,14,2,11,40,119.689833,122.277500,132.115199,120.0,122.277500,121.138750
17,28,45,12,1517.610,15,2,11,40,119.884345,123.210833,132.543295,120.0,123.210833,121.605417
18,32,45,12,1577.280,9,2,11,40,109.081285,117.912500,123.540960,109.0,117.912500,113.456250
19,33,45,12,1615.100,9,1,11,40,77.443029,93.539722,98.298360,77.0,93.539722,85.269861
20,7,46,21,375.245,5,1,10,53,37.469293,56.755556,47.484027,37.0,56.755556,46.877778
21,8,46,21,490.530,9,1,10,53,45.088403,60.303056,55.967697,45.0,60.303056,52.651528
22,9,46,21,517.415,12,1,10,53,49.703280,63.638889,60.113358,50.0,63.638889,56.819444
23,11,46,21,556.620,14,1,10,53,53.163981,65.382917,63.633851,53.0,65.382917,59.191458
24,10,46,21,556.620,14,1,10,53,52.391013,65.382917,63.015354,52.0,65.382917,58.691458
25,14,46,21,684.270,20,1,10,53,60.596905,71.403333,71.889066,61.0,71.403333,66.201667
26,15,46,21,753.930,1,2,10,53,69.416095,76.884444,80.277121,69.0,76.884444,72.942222
27,18,46,21,897.510,11,2,10,53,80.124872,86.089444,91.326262,80.0,86.089444,83.044722
28,19,46,21,918.860,11,2,10,53,80.293545,86.291944,91.737304,80.0,86.291944,83.145972
29,20,46,21,964.230,13,2,10,53,82.083613,88.036944,93.830537,82.0,88.036944,85.018472
30,21,46,21,1046.730,17,2,10,53,86.621978,92.291944,98.705862,87.0,92.291944,89.645972
31,24,46,21,1171.885,3,3,10,53,101.519782,102.037083,113.063197,102.0,102.037083,102.018542
32,25,46,21,1239.060,6,3,10,53,104.491036,105.121667,116.349087,104.0,105.121667,104.560833
33,26,46,21,1269.870,7,3,10,53,105.007304,106.137500,117.100463,105.0,106.137500,105.568750
34,27,46,21,1487.190,23,3,10,53,122.168266,122.277500,134.341558,122.0,122.277500,122.138750
35,28,46,21,1517.610,0,4,10,53,132.418813,123.210833,143.879495,132.0,123.210833,127.605417
36,32,46,21,1577.280,18,3,10,53,111.384487,117.912500,125.545167,111.0,117.912500,114.456250
37,33,46,21,1615.100,18,2,10,53,81.571867,93.539722,101.371586,82.0,93.539722,87.769861