In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn.neural_network import MLPRegressor
import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score

In [2]:
new_toll_time = pd.read_csv('new_toll_time_no_0.csv')

In [8]:
new_toll_time.drop(['Unnamed: 0'], axis=1, inplace=True)

In [2]:
# train_df = pd.read_csv('Ffinal_train_df_14Dec2017.csv')
# test_df = pd.read_csv('Ffinal_test_df_14Dec2017.csv')

In [ ]:
how

In [4]:
train_df.loc[train_df['time_btn_tolls'] == 0, 'time_btn_tolls']  = train_df.loc[train_df['time_btn_tolls'] == 0, 'time_taken']

In [7]:
dict_last_ist = {'OR04M532M': datetime.datetime(2017, 11, 4, 12, 10, 12),
 'OR04M53MM': datetime.datetime(2017, 10, 23, 1, 35, 49)}

In [8]:
def find_toll_num(df):
    toll_dict = {}
    new_toll_dict = {}
    x = {}
    num = 1
    for toll in df.toll_both.unique().tolist():
        t = df['time_taken'][df.toll_both == toll].median()
        toll_dict[toll] = t
    
    for key, value in sorted(toll_dict.iteritems(), key=lambda (k,v): (v,k)):
        x[key] = value
        new_toll_dict[key] = num
        num+=1
        
    return new_toll_dict, x

In [10]:
new_toll_dict,x = find_toll_num(new_toll_time)

In [14]:
# dict_toll_both_train_df = change_toll_booth_to_dummy(train_df)
train_df.toll_both = train_df.toll_both.replace(new_toll_dict)
test_df.toll_both = test_df.toll_both.replace(new_toll_dict)

In [15]:
def change_vehicle_no_to_dummy(df):
    num = 1
    dict_vehicle_no = {}
    for truck in df['vehicle_no'].unique().tolist():
        df['vehicle_no'] = df['vehicle_no'].replace({truck: num})
        dict_vehicle_no[num] = truck
        num += 1
    return dict_vehicle_no

In [16]:
dict_vehicle_no_train_df = change_vehicle_no_to_dummy(train_df)
rev_dict_vehicle_no_test_df = dict((v,k) for k,v in dict_vehicle_no_train_df.iteritems())
test_df.vehicle_no = test_df.vehicle_no.replace(rev_dict_vehicle_no_test_df)

In [17]:
train_df.drop(['time_taken'], axis=1, inplace=True)
test_df.drop(['time_taken','time_btn_tolls'], axis=1, inplace=True)

In [18]:
train_X = train_df.drop(['time_btn_tolls'], axis=1)
train_y = train_df.time_btn_tolls

In [21]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y, test_size=0.3, random_state=42)

In [24]:
scale= MinMaxScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [25]:
reg_mlp = MLPRegressor(hidden_layer_sizes=(500,), activation='logistic', alpha=8, solver='lbfgs', random_state=42)

In [92]:
# reg_svr = SVR(C=100.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1.0,
#   kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
reg_mlp.partial_fit(X_train_scaled, y_train)
reg_mlp.score(X_test_scaled, y_test)

AttributeError: partial_fit is only available for stochastic optimizers. lbfgs is not stochastic.

In [29]:
scores = cross_val_score(reg_mlp, X_train_scaled, y_train, scoring='r2', n_jobs=-1)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.56 (+/- 0.04)

In [75]:
scale = MinMaxScaler()
X_predict_scaled = scale.fit_transform(test_df)
predictions = reg_mlp.predict(X_predict_scaled)

In [76]:
show_df = test_df.copy()
show_df['predicted'] = predictions

In [79]:
# # for num, truck in dict_vehicle_no_train_df.iteritems():
# list_truck = []
# for truck, ist in dict_last_ist.iteritems():
#     list_truck.append(truck)
    
# for truck in list_truck:
#     i = rev_dict_vehicle_no_test_df[truck]
#     dict_last_ist[i] = dict_last_ist.pop(truck)

In [80]:
show_df['eta'] = show_df['predicted']

In [81]:
show_df['time_taken'] = 0
for truck, ist in dict_last_ist.iteritems():
    show_df['time_taken'][show_df['vehicle_no'] == truck] = show_df['predicted'][show_df['vehicle_no'] == truck].cumsum()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
for truck, ist in dict_last_ist.iteritems():
    show_df['eta'][show_df['vehicle_no'] == truck] = str(ist)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
show_df['eta'] = show_df['eta'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )

In [84]:
show_df.dtypes

toll_both                      int64
vehicle_no                     int64
loading_out_time               int64
distance_travelled           float64
time_of_travel                 int64
day_of_travel                  int64
month_of_travel                int64
days_from_now                  int64
predicted                    float64
eta                   datetime64[ns]
time_taken                   float64
dtype: object

In [85]:
show_df['time_taken'] = show_df['time_taken'].apply(lambda x: datetime.timedelta(hours=x) )

In [86]:
show_df['eta'] = show_df['eta'] + show_df['time_taken']

In [87]:
dict_vehicle_no_train_df[131]

'OR04M532M'

In [89]:
show_df['vehicle_no'] = show_df['vehicle_no'].apply(lambda x:dict_vehicle_no_train_df[x])

In [90]:
rev_toll_dict = dict((v,k) for k,v in new_toll_dict.iteritems())
show_df.toll_both = show_df.toll_both.replace(rev_toll_dict)

In [91]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,eta,time_taken
0,Gudipada (Old Gangapada),OR04M532M,12,56.155,8,6,11,41,7.479163,2017-11-04 19:38:56.986745,0 days 07:28:44.986745
1,Gurapalli,OR04M532M,12,88.000,11,6,11,41,4.134102,2017-11-04 23:46:59.753713,0 days 11:36:47.753713
2,Bellupada,OR04M532M,12,83.835,18,6,11,41,3.622545,2017-11-05 03:24:20.916424,0 days 15:14:08.916424
3,Madapam,OR04M532M,12,115.690,22,6,11,41,8.032359,2017-11-05 11:26:17.408600,0 days 23:16:05.408600
4,Chilakapalem,OR04M532M,12,27.020,0,0,11,41,11.896269,2017-11-05 23:20:03.977875,1 days 11:09:51.977875
5,Nathavalasa/ Vizianagaram,OR04M532M,12,39.330,4,0,11,41,4.159764,2017-11-06 03:29:39.126488,1 days 15:19:27.126488
6,Vempadu,OR04M532M,12,127.950,8,0,11,41,11.399508,2017-11-06 14:53:37.355313,2 days 02:43:25.355313
7,Krishnavaram,OR04M532M,12,69.660,12,0,11,41,4.368015,2017-11-06 19:15:42.209151,2 days 07:05:30.209151
8,Kalaparru,OR04M532M,12,144.380,19,0,11,41,14.193812,2017-11-07 09:27:19.931264,2 days 21:17:07.931264
9,Kaza,OR04M532M,12,45.510,20,0,11,41,2.664515,2017-11-07 12:07:12.184931,2 days 23:57:00.184931
10,Bolapalli,OR04M532M,12,82.215,1,1,11,41,6.779628,2017-11-07 18:53:58.846361,3 days 06:43:46.846361
11,Tangutur,OR04M532M,12,63.975,3,1,11,41,4.750822,2017-11-07 23:39:01.805607,3 days 11:28:49.805607
12,Sunambatti (Musunur),OR04M532M,12,62.070,5,1,11,41,4.782828,2017-11-08 04:25:59.984841,3 days 16:15:47.984841
13,Budanam,OR04M532M,12,97.575,10,1,11,41,9.598972,2017-11-08 14:01:56.284494,4 days 01:51:44.284494
14,Gaddurur,OR04M532M,12,217.330,3,2,11,41,23.749238,2017-11-09 13:46:53.541528,5 days 01:36:41.541528
15,Bellupada,OR04M53MM,21,83.835,3,1,10,53,5.524627,2017-10-23 07:07:17.658898,0 days 05:31:28.658898
16,Madapam,OR04M53MM,21,115.690,7,1,10,53,10.417977,2017-10-23 17:32:22.377648,0 days 15:56:33.377648
17,Chilakapalem,OR04M53MM,21,27.020,9,1,10,53,10.374481,2017-10-24 03:54:50.509312,1 days 02:19:01.509312
18,Nathavalasa/ Vizianagaram,OR04M53MM,21,39.330,13,1,10,53,3.609387,2017-10-24 07:31:24.301886,1 days 05:55:35.301886
19,Vempadu,OR04M53MM,21,127.950,17,1,10,53,12.857156,2017-10-24 20:22:50.063341,1 days 18:47:01.063341
20,Krishnavaram,OR04M53MM,21,69.660,21,1,10,53,4.933766,2017-10-25 01:18:51.621638,1 days 23:43:02.621638
21,Kalaparru,OR04M53MM,21,144.380,4,2,10,53,16.375744,2017-10-25 17:41:24.298329,2 days 16:05:35.298329
22,Kaza,OR04M53MM,21,45.510,5,2,10,53,3.578886,2017-10-25 21:16:08.287222,2 days 19:40:19.287222
23,Bolapalli,OR04M53MM,21,82.215,10,2,10,53,8.733198,2017-10-26 06:00:07.801680,3 days 04:24:18.801680
24,Tangutur,OR04M53MM,21,63.975,12,2,10,53,6.514952,2017-10-26 12:31:01.628686,3 days 10:55:12.628686
25,Sunambatti (Musunur),OR04M53MM,21,62.070,14,2,10,53,6.532691,2017-10-26 19:02:59.317552,3 days 17:27:10.317552
26,Budanam,OR04M53MM,21,97.575,19,2,10,53,11.562552,2017-10-27 06:36:44.503074,4 days 05:00:55.503074
27,Gaddurur,OR04M53MM,21,217.330,12,3,10,53,26.032754,2017-10-28 08:38:42.415877,5 days 07:02:53.415877