In [1]:
import sqlite3
import numpy as np
import mysql.connector
import pandas as pd
import getpass
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
plotly.tools.set_credentials_file(username='mainakchain', api_key='B9m4DVrYYmsoW3jDSiok')
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
import plotly.figure_factory as ff
from scipy import stats
from sklearn.utils import shuffle
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from datetime import timedelta
from sklearn.ensemble import RandomForestRegressor
import datetime
import holidays
from sklearn.model_selection import cross_val_score
from sklearn.metrics import median_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVR
from sklearn.svm import SVR
import operator

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [169]:
time = pd.read_csv('time_between_two_tolls_new.csv')

In [170]:
toll_freq = dict(time['toll_both'].value_counts())
time['toll_freq'] = time['toll_both']
time['toll_freq'] = time['toll_freq'].apply(lambda x: toll_freq[x] )
m = int(0.3 * time['toll_freq'].median())
time = time[(time['toll_freq'] > m)]
time.drop(['toll_freq'], axis=1, inplace=True)

In [171]:
time['loading_out_time'] = time['loading_out_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
time['ist_timestamp'] = time['ist_timestamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
time['hours']  = time['ist_timestamp'] - time['loading_out_time']
time['hours'] = time.hours.apply(lambda x:x.total_seconds()/3600)

In [172]:
time['distance_travelled'] = 0.0 #NL01N5129 CG04FB5095
time['time_taken'] = time['hours']
time['time_btn_tolls'] = 0

In [173]:
new_time = pd.DataFrame(columns=time.columns.tolist())

In [174]:
for truck in time.vehicle_no.unique().tolist():
    for st_time in time.start_date.unique().tolist():
        df = time[(time.vehicle_no == truck) & (time.start_date == st_time)].sort_values('odometer_km')
        df.distance_travelled = df.odometer_km.diff()
        df.time_btn_tolls = df.hours.diff()
        new_time = new_time.append(df)

In [175]:
# new_time[new_time['time_btn_tolls'] == 0].shape
new_time = new_time.loc[new_time['distance_travelled'] != 0]

In [176]:
new_time = new_time.fillna(0)

In [177]:
new_time.to_csv('new_toll_time.csv',index=False)

In [178]:
toll_time = pd.read_csv('new_toll_time.csv')

In [18]:
# toll_time.drop(['Unnamed: 0'], axis=1, inplace=True)

In [179]:
new_toll_time = toll_time.copy()

In [198]:
new_toll_time.

Gurapalli                    181
Manguli                      179
Madapam                      179
Sergrarh                     178
Gudipada (Old Gangapada)     178
Chilakapalem                 177
Panikholi                    177
Kalaparru                    174
Vempadu                      174
Krishnavaram                 174
Budanam                      174
Kaza                         173
Pottipadu                    171
Bolapalli                    170
Sunambatti (Musunur)         170
Tangutur                     166
Bellupada                    154
Gaddurur                     130
Mulbagal                     128
Laxmipuram                   101
Nathavalasa/ Vizianagaram     78
Name: toll_both, dtype: int64

In [197]:
new_toll_time.vehicle_no.value_counts()

JH02M1289     78
OR07Y7231     75
OR05AJ4215    70
OR05AJ8915    60
OD04D0605     59
OD04F1988     59
CG04FB5095    59
JH05AE4540    58
OR04M5329     58
OR07W2988     57
CG08L3445     56
OD07M1151     56
OR07AA0311    56
OR07V5231     48
JH01AE6027    43
BR01GB9171    42
OD04F2036     40
BR01GA9889    40
WB23B7201     40
OR11D4683     40
KA51A0876     39
OR04M9321     39
JH05V5242     39
AP05TF2187    39
OR05AJ1525    38
OR05U6821     38
OD04J1422     38
OD04H5921     38
OR05AD5529    37
OR07V0091     37
              ..
OD11H9307     17
BR02AA8561    17
TN90C2988     17
BR01GF7235    17
NL02N0151     17
OD07J9793     16
JH0BQ1509     16
AP26TB0388    16
OR07Z2395     16
TN36Y9906     16
CG04DM2391    15
WB25F7344     15
AP05TB7489    15
AP03TE2588    15
OD04D9687     15
TN31BD2234    14
OD04F1729     14
BR01GD7712    14
AP04TX2171    13
OR07W5637     13
AP07TU2566    13
OR07U9441     13
TN56H9904     13
JH05Z9697     12
WB03C9131     10
KA01AB5627    10
AP07TU1248     7
OR05AJ1911     5
AP07TB1989     4
JH05W7748      4
Name: vehicle_no, Length: 130, dtype: int64

In [186]:
new_toll_time = toll_time.copy()

In [187]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_toll_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

new_toll_time['start_date'] = new_toll_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['days_from_now'] = new_toll_time['today'] - new_toll_time['start_date'] 
new_toll_time['days_from_now'] = new_toll_time['days_from_now'].apply(lambda x: x.days)

new_toll_time['unloading_in_time'] = new_toll_time['unloading_in_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['avg_travel_time'] = new_toll_time['start_date'] + (new_toll_time['unloading_in_time'] - new_toll_time['start_date'])/2

new_toll_time['month_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.month)

new_toll_time['ist_timestamp'] = new_toll_time['ist_timestamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
new_toll_time['time_of_travel'] = new_toll_time.ist_timestamp.apply(lambda x: x.hour)

new_toll_time['day_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.weekday())

new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x: x.hour)

In [188]:
new_toll_time = new_toll_time[['toll_both','vehicle_no','loading_out_time','distance_travelled','time_of_travel','day_of_travel','month_of_travel','days_from_now','time_taken','time_btn_tolls']]

In [162]:
# toll_dict = {'Sergrarh':1,'Panikholi':2, 'Manguli':3, 'Gudipada (Old Gangapada)':4, 'Gurapalli':5, 'Bellupada':6, 'Madapam':7, 'Chilakapalem':8, 'Nathavalasa/ Vizianagaram':9, 'Laxmipuram':10, 'Vempadu':11, 'Krishnavaram':12, 'Kalaparru':13, 'Pottipadu':14, 'Kaza':15, 'Bolapalli':16, 'Sunambatti (Musunur)':17, 'Venkatachallam &#160;(Old Nellore)':18, 'Budanam':19, 'Gaddurur':20, 'Mulbagal':21, 'Hoskote':22, 'Attibele (BETL)':23, 'Aganampudi':24}

In [147]:
new_toll_time[new_toll_time.vehicle_no == 'JH02M1289'].sort_values('')

['Sergrarh',
 'Panikholi',
 'Manguli',
 'Gudipada (Old Gangapada)',
 'Gurapalli',
 'Bellupada',
 'Madapam',
 'Chilakapalem',
 'Nathavalasa/ Vizianagaram',
 'Vempadu',
 'Krishnavaram',
 'Kalaparru',
 'Pottipadu',
 'Kaza',
 'Bolapalli',
 'Tangutur',
 'Sunambatti (Musunur)',
 'Budanam',
 'Gaddurur',
 'Mulbagal',
 'Laxmipuram']

In [344]:
dict_last_ist = {}
train_df = new_toll_time.copy()
test_df= pd.DataFrame(columns=['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now','time_taken','time_btn_tolls'])
choice = True
while(choice):
    today_date = datetime.datetime.now()
    vehicle = raw_input('Enter the vehicle no.: ')
    start = raw_input('Enter the start date in %Y-%m-%d %H:%M:%S format: ')
    start_delta = datetime.datetime.strptime(start, '%Y-%m-%d %H:%M:%S')
    
    loading_out = raw_input('Enter the loading out time in %Y-%m-%d %H:%M:%S format: ')
    loading_out_delta = datetime.datetime.strptime(loading_out, '%Y-%m-%d %H:%M:%S')
    
    a = []
    loop = input('Enter the number of tolls vehicle crossed SEQUENTIALLY: ')
    count = 0
    print '      '
    while (count != loop):
        b = []
        toll = raw_input('Toll both: ')
        distance = input('Distance travelled from previous toll in km: ')
        ist = raw_input('IST Timestamp in %Y-%m-%d %H:%M:%S format: ')
        ist_delta = datetime.datetime.strptime(ist, '%Y-%m-%d %H:%M:%S')
        b.extend([toll, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])
        a.append(b)
        dict_last_ist[vehicle] = ist_delta
        count+=1
    
    
    add_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_taken'])
    
    add_df['time_btn_tolls'] = add_df['time_taken'].diff()
    add_df = add_df.fillna(0)
    
    train_df = train_df.append(add_df)
    
    test_toll = raw_input('Enter the numbers of tolls the vehicle shall take in the journey SEQUENTIALLY: ')
    test_toll_list = test_toll.split(',')
    test_toll_list = [str(a) for a in test_toll_list]

    a = []

    for toll_val in test_toll_list:
        b = []
        distance = toll_time['distance_travelled'][toll_time.toll_both == toll_val].median()
        ist_delta = loading_out_delta + timedelta(hours=toll_time['time_taken'][toll_time.toll_both == toll_val].median())
        b.extend([toll_val, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])

        a.append(b)
    add_test_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now','time_taken'])
    
    add_test_df['time_btn_tolls'] = add_test_df['time_taken'].diff()
    add_test_df = add_test_df.fillna(0)
    
    test_df = test_df.append(add_test_df)
    
    c = raw_input('Want to enter more vehicles?(y/n)')
    
    if (c == 'y' or c == 'Y'):
        continue
    elif (c == 'n' or c == 'N'):
        choice = False
        print 'bbye'
    else:
        print 'Wrong Choice! Exiting'
        choice = False

Enter the vehicle no.: OR04M532M
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-11-02 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-11-03 12:02:43
Enter the number of tolls vehicle crossed SEQUENTIALLY: 3

Toll both: Sergrarh
Distance travelled from previous toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 08:22:51
Toll both: Panikholi
Distance travelled from previous toll in km: 95.1
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 10:42:12
Toll both: Manguli
Distance travelled from previous toll in km: 54.6
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 12:10:12
Enter the numbers of tolls the vehicle shall take in the journey SEQUENTIALLY: Gudipada (Old Gangapada),Gurapalli,Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Vempadu,Krishnavaram,Kalaparru,Kaza,Bolapalli,Tangutur,Sunambatti (Musunur),Budanam,Gaddurur
Want to enter more vehicles?(y/n)y
Enter the vehicle no.: OR04M53MM
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-10-20 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-10-21 21:00:42
Enter the number of tolls vehicle crossed SEQUENTIALLY: 5

Toll both: Sergrarh
Distance travelled from previous toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 17:11:43
Toll both: Panikholi
Distance travelled from previous toll in km: 94.3
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 19:35:13
Toll both: Manguli
Distance travelled from previous toll in km: 53.9
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 21:10:53
Toll both: Gudipada (Old Gangapada)
Distance travelled from previous toll in km: 56.89
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 23:20:17
Toll both: Gurapalli
Distance travelled from previous toll in km: 88.98
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-23 01:35:49
Enter the numbers of tolls the vehicle shall take in the journey SEQUENTIALLY: Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Vempadu,Krishnavaram,Kalaparru,Kaza,Bolapalli,Tangutur,Sunambatti (Musunur),Budanam,Gaddurur
Want to enter more vehicles?(y/n)n
bbye

In [301]:
train_df = train_df.reset_index(drop=True)
test_df = test_df.reset_index(drop=True)

In [203]:
train_df.to_csv('Ffinal_train_df_14Dec2017.csv', index=False)
test_df.to_csv('Ffinal_test_df_14Dec2017.csv', index=False)

In [304]:
dict_last_ist

{'OR04M532M': datetime.datetime(2017, 11, 4, 12, 10, 12),
 'OR04M53MM': datetime.datetime(2017, 10, 23, 1, 35, 49)}

In [305]:
def find_toll_num(df):
    toll_dict = {}
    new_toll_dict = {}
    x = {}
    num = 1
    for toll in df.toll_both.unique().tolist():
        t = df['time_taken'][df.toll_both == toll].median()
        toll_dict[toll] = t
    
    for key, value in sorted(toll_dict.iteritems(), key=lambda (k,v): (v,k)):
        x[key] = value
        new_toll_dict[key] = num
        num+=1
        
    return new_toll_dict, x

In [306]:
new_toll_dict,x = find_toll_num(new_toll_time)

In [307]:
new_toll_dict

{'Bellupada': 6,
 'Bolapalli': 16,
 'Budanam': 19,
 'Chilakapalem': 9,
 'Gaddurur': 21,
 'Gudipada (Old Gangapada)': 4,
 'Gurapalli': 5,
 'Kalaparru': 14,
 'Kaza': 15,
 'Krishnavaram': 12,
 'Laxmipuram': 7,
 'Madapam': 8,
 'Manguli': 3,
 'Mulbagal': 20,
 'Nathavalasa/ Vizianagaram': 10,
 'Panikholi': 2,
 'Pottipadu': 13,
 'Sergrarh': 1,
 'Sunambatti (Musunur)': 18,
 'Tangutur': 17,
 'Vempadu': 11}

In [308]:
x

{'Bellupada': 54.63638888884999,
 'Bolapalli': 85.19555555560001,
 'Budanam': 94.75180555554999,
 'Chilakapalem': 60.240833333299996,
 'Gaddurur': 111.7175,
 'Gudipada (Old Gangapada)': 44.325833333350005,
 'Gurapalli': 47.752222222200004,
 'Kalaparru': 79.36486111114999,
 'Kaza': 80.6586111111,
 'Krishnavaram': 72.6825,
 'Laxmipuram': 58.4108333333,
 'Madapam': 58.9116666667,
 'Manguli': 42.618888888899995,
 'Mulbagal': 111.321388889,
 'Nathavalasa/ Vizianagaram': 64.30319444445,
 'Panikholi': 41.0441666667,
 'Pottipadu': 78.3761111111,
 'Sergrarh': 36.28625,
 'Sunambatti (Musunur)': 89.71486111109999,
 'Tangutur': 87.4901388889,
 'Vempadu': 68.81222222219999}

In [309]:
train_df.shape, test_df.shape

((3394, 10), (28, 10))

In [310]:
# test_df

In [311]:
# def change_toll_booth_to_dummy(df):
#     num = 1
#     dict_toll_both = {}
#     for toll in df['toll_both'].unique().tolist():
#         df['toll_both'] = df['toll_both'].replace({toll: num})
#         dict_toll_both[num] = toll
#         num += 1
#     return dict_toll_both

In [312]:
# dict_toll_both_train_df = change_toll_booth_to_dummy(train_df)
train_df.toll_both = train_df.toll_both.replace(new_toll_dict)
test_df.toll_both = test_df.toll_both.replace(new_toll_dict)

In [313]:
def change_vehicle_no_to_dummy(df):
    num = 1
    dict_vehicle_no = {}
    for truck in df['vehicle_no'].unique().tolist():
        df['vehicle_no'] = df['vehicle_no'].replace({truck: num})
        dict_vehicle_no[num] = truck
        num += 1
    return dict_vehicle_no

In [314]:
dict_vehicle_no_train_df = change_vehicle_no_to_dummy(train_df)

In [315]:
rev_dict_vehicle_no_test_df = dict((v,k) for k,v in dict_vehicle_no_train_df.iteritems())

In [316]:
test_df.vehicle_no = test_df.vehicle_no.replace(rev_dict_vehicle_no_test_df)

In [317]:
# train_df['virtual_avg_speed'] = train_df['distance_travelled'] / train_df['time_taken']
# test_df['virtual_avg_speed'] = test_df['distance_travelled'] / test_df['time_taken']

In [318]:
test_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,time_btn_tolls
0,4,131,12,56.155,8,6,11,41,44.325833,0.000000
1,5,131,12,88.000,11,6,11,41,47.752222,3.426389
2,6,131,12,83.835,18,6,11,41,54.636389,6.884167
3,8,131,12,115.690,22,6,11,41,58.911667,4.275278
4,9,131,12,27.020,0,0,11,41,60.240833,1.329167
5,10,131,12,39.330,4,0,11,41,64.303194,4.062361
6,11,131,12,127.950,8,0,11,41,68.812222,4.509028
7,12,131,12,69.660,12,0,11,41,72.682500,3.870278
8,14,131,12,144.380,19,0,11,41,79.364861,6.682361
9,15,131,12,45.510,20,0,11,41,80.658611,1.293750
10,16,131,12,82.215,1,1,11,41,85.195556,4.536944
11,17,131,12,63.975,3,1,11,41,87.490139,2.294583
12,18,131,12,62.070,5,1,11,41,89.714861,2.224722
13,19,131,12,97.575,10,1,11,41,94.751806,5.036944
14,21,131,12,217.330,3,2,11,41,111.717500,16.965694
15,6,132,21,83.835,3,1,10,53,54.636389,0.000000
16,8,132,21,115.690,7,1,10,53,58.911667,4.275278
17,9,132,21,27.020,9,1,10,53,60.240833,1.329167
18,10,132,21,39.330,13,1,10,53,64.303194,4.062361
19,11,132,21,127.950,17,1,10,53,68.812222,4.509028
20,12,132,21,69.660,21,1,10,53,72.682500,3.870278
21,14,132,21,144.380,4,2,10,53,79.364861,6.682361
22,15,132,21,45.510,5,2,10,53,80.658611,1.293750
23,16,132,21,82.215,10,2,10,53,85.195556,4.536944
24,17,132,21,63.975,12,2,10,53,87.490139,2.294583
25,18,132,21,62.070,14,2,10,53,89.714861,2.224722
26,19,132,21,97.575,19,2,10,53,94.751806,5.036944
27,21,132,21,217.330,12,3,10,53,111.717500,16.965694

In [319]:
train_df.drop(['time_taken'], axis=1, inplace=True)

In [320]:
test_df.drop(['time_taken','time_btn_tolls'], axis=1, inplace=True)

In [321]:
test_df_copy = test_df.copy()

In [163]:
# MODEL BUILDING AND APPLICATION

In [322]:
train_X = train_df.drop(['time_btn_tolls'], axis=1)
train_y = train_df.time_btn_tolls

In [323]:
train_X.shape

(3394, 8)

In [324]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y, test_size=0.3, random_state=42)

In [325]:
reg_mlp = MLPRegressor(hidden_layer_sizes=(1000,50), activation='logistic', alpha=8, solver='lbfgs', random_state=42)

In [326]:
scale= MinMaxScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [327]:
parameters = {"C": [1e1, 1e2, 1e3, 1e4],
                               "gamma": np.logspace(-2, 2, 5)}

In [328]:
reg_svr = SVR(kernel='rbf', gamma=0.1)

In [329]:
# grid = GridSearchCV(reg_svr, param_grid=parameters, n_jobs=-1,
#                    scoring='r2',
#                    verbose=1)
grid = GridSearchCV(reg_svr, cv=5,
                   param_grid=parameters, verbose=1, n_jobs=-1, scoring='r2')

In [274]:
grid_result = grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   13.7s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed: 10.1min finished

In [276]:
print("Best parameters set found on development set:")
print(grid_result.best_estimator_)
print("Grid scores on development set:")
for parameters, mean_score, scores in grid_result.grid_scores_:
    print("%0.3f (+/-%0.03f) for %r"
          % (mean_score, scores.std() / 2, parameters))

Best parameters set found on development set:
SVR(C=100.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1.0,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
Grid scores on development set:
0.194 (+/-0.014) for {'C': 10.0, 'gamma': 0.01}
0.275 (+/-0.015) for {'C': 10.0, 'gamma': 0.10000000000000001}
0.307 (+/-0.012) for {'C': 10.0, 'gamma': 1.0}
0.202 (+/-0.017) for {'C': 10.0, 'gamma': 10.0}
0.041 (+/-0.017) for {'C': 10.0, 'gamma': 100.0}
0.269 (+/-0.015) for {'C': 100.0, 'gamma': 0.01}
0.288 (+/-0.016) for {'C': 100.0, 'gamma': 0.10000000000000001}
0.321 (+/-0.014) for {'C': 100.0, 'gamma': 1.0}
-0.037 (+/-0.036) for {'C': 100.0, 'gamma': 10.0}
0.057 (+/-0.029) for {'C': 100.0, 'gamma': 100.0}
0.283 (+/-0.016) for {'C': 1000.0, 'gamma': 0.01}
0.292 (+/-0.015) for {'C': 1000.0, 'gamma': 0.10000000000000001}
0.263 (+/-0.020) for {'C': 1000.0, 'gamma': 1.0}
-0.309 (+/-0.088) for {'C': 1000.0, 'gamma': 10.0}
0.057 (+/-0.029) for {'C': 1000.0, 'gamma': 100.0}
0.285 (+/-0.016) for {'C': 10000.0, 'gamma': 0.01}
0.302 (+/-0.014) for {'C': 10000.0, 'gamma': 0.10000000000000001}
-0.104 (+/-0.093) for {'C': 10000.0, 'gamma': 1.0}
-0.352 (+/-0.094) for {'C': 10000.0, 'gamma': 10.0}
0.057 (+/-0.029) for {'C': 10000.0, 'gamma': 100.0}

/usr/local/lib/python2.7/dist-packages/sklearn/model_selection/_search.py:761: DeprecationWarning:

The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20

In [275]:
grid_result.best_estimator_.fit(X_train_scaled, y_train)
grid_result.best_estimator_.score(X_test_scaled, y_test)

0.063929028087408635

In [277]:
scores = cross_val_score(grid_result.best_estimator_, X_train_scaled, y_train, scoring='r2', n_jobs=-1)

In [278]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.32 (+/- 0.06)

In [269]:
# reg_mlp.fit(X_train_scaled, y_train)
# reg_mlp.score(X_test_scaled, y_test) * 100

1.1986647608093981

In [270]:
# scores = cross_val_score(reg_mlp, X_train_scaled, y_train, scoring='r2', n_jobs=-1)
# print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.35 (+/- 0.05)

In [330]:
scale = MinMaxScaler()
X_predict_scaled = scale.fit_transform(test_df)

In [331]:
predictions = grid_result.best_estimator_.predict(X_predict_scaled)

In [332]:
show_df = test_df.copy()
show_df['predicted'] = predictions

In [246]:
# show_df['predict_diff'] = show_df['predicted'].diff()

In [282]:
def med_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].median()

In [283]:
def mean_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].mean()

In [284]:
# show_df['med_time'] = show_df['toll_both']
# show_df['med_time'] = show_df.med_time.apply(lambda x:med_toll_time_taken(x))
# show_df['mean_time'] = show_df['toll_both']
# show_df['mean_time'] = show_df.mean_time.apply(lambda x:mean_toll_time_taken(x))

In [285]:
# show_df['avg_pred_med'] = (show_df['predicted'] + show_df['med_time']) / 2

In [286]:
# x = train_df
# x['avg_speed'] = x.distance_travelled/ x.time_taken
# x = x[x.vehicle_no == 25].sort_values('distance_travelled')
# x['avg_speed'] = x.distance_travelled/(x.time_taken - 40.88)
# x

In [287]:
# train_df[train_df['vehicle_no'] == 45]

In [288]:
# show_df['avg_speed_pred'] = show_df['distance_travelled']/show_df['predicted']
# show_df['avg_speed_med'] = show_df['distance_travelled']/show_df['med_time']

In [289]:
# show_df['test_pred'] = show_df['predicted'] + show_df.avg_speed_pred

In [333]:
show_df['round_pred'] = show_df['predicted'].round()

In [291]:
# show_df['median_input'] =  test_df_copy['time_taken']

In [292]:
# show_df.drop(['virtual_avg_speed','predict_diff','mean_time','avg_pred_med','avg_speed_med','avg_speed_pred'], axis=1, inplace=True)

In [348]:
rev_dict_vehicle_no_test_df['OR04M532M']

131

In [358]:
# dict_last_ist = {'OR04M532M': datetime.datetime(2017, 11, 4, 12, 10, 12),
#  'OR04M53MM': datetime.datetime(2017, 10, 23, 1, 35, 49)}

In [359]:
# for num, truck in dict_vehicle_no_train_df.iteritems():
list_truck = []
for truck, ist in dict_last_ist.iteritems():
    list_truck.append(truck)
    
for truck in list_truck:
    i = rev_dict_vehicle_no_test_df[truck]
    dict_last_ist[i] = dict_last_ist.pop(truck)

['OR04M532M', 'OR04M53MM']

In [362]:
dict_last_ist

{131: datetime.datetime(2017, 11, 4, 12, 10, 12),
 132: datetime.datetime(2017, 10, 23, 1, 35, 49)}

In [382]:
show_df['eta'] = show_df['predicted']

In [404]:
x = datetime.datetime(2017, 11, 4, 12, 10, 12)
x + datetime.timedelta(hours=8.9)

datetime.datetime(2017, 11, 4, 21, 4, 12)

In [406]:
show_df['eta'][show_df['vehicle_no'] == 131]

0    1970-01-01 00:00:00.000000001
1    1970-01-01 00:00:00.000000004
2    1970-01-01 00:00:00.000000004
3    1970-01-01 00:00:00.000000007
4    1970-01-01 00:00:00.000000001
5    1970-01-01 00:00:00.000000001
6    1970-01-01 00:00:00.000000008
7    1970-01-01 00:00:00.000000004
8    1970-01-01 00:00:00.000000010
9    1970-01-01 00:00:00.000000001
10   1970-01-01 00:00:00.000000006
11   1970-01-01 00:00:00.000000004
12   1970-01-01 00:00:00.000000005
13   1970-01-01 00:00:00.000000010
14   1970-01-01 00:00:00.000000020
Name: eta, dtype: datetime64[ns]

In [393]:
for truck, ist in dict_last_ist.iteritems():
    show_df['time_taken'][show_df['vehicle_no'] == truck] = show_df['predicted'][show_df['vehicle_no'] == truck].cumsum()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [407]:
for truck, ist in dict_last_ist.iteritems():
    print ist

2017-10-23 01:35:49
2017-11-04 12:10:12

In [408]:
def get_eta(ist, x):
    y = ist + datetime.timedelta(hours=x)
    return y

In [415]:
show_df.dtypes

toll_both                       int64
vehicle_no                      int64
loading_out_time               object
distance_travelled            float64
time_of_travel                 object
day_of_travel                  object
month_of_travel                object
days_from_now                  object
predicted             timedelta64[ns]
round_pred                    float64
eta                    datetime64[ns]
time_taken                    float64
dtype: object

In [421]:
for truck, ist in dict_last_ist.iteritems():
    show_df['eta'][show_df['vehicle_no'] == truck] = ist

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [422]:
show_df['time_taken'] = show_df['time_taken'].apply(lambda x:datetime.timedelta(hours=x))

TypeError: unsupported type for timedelta hours component: Timedelta

In [423]:
show_df['eta'] = show_df['eta'] + show_df['time_taken']

In [424]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,round_pred,eta,time_taken
0,4,131,12,56.155,8,6,11,41,01:59:11.909486,2.0,2017-11-04 14:09:23.909486,0 days 01:59:11.909486
1,5,131,12,88.000,11,6,11,41,04:42:12.917975,5.0,2017-11-04 18:51:36.827461,0 days 06:41:24.827461
2,6,131,12,83.835,18,6,11,41,04:04:26.506094,4.0,2017-11-04 22:56:03.333555,0 days 10:45:51.333555
3,8,131,12,115.690,22,6,11,41,07:04:15.777586,7.0,2017-11-05 06:00:19.111141,0 days 17:50:07.111141
4,9,131,12,27.020,0,0,11,41,01:17:27.354341,1.0,2017-11-05 07:17:46.465482,0 days 19:07:34.465482
5,10,131,12,39.330,4,0,11,41,01:35:29.995618,2.0,2017-11-05 08:53:16.461100,0 days 20:43:04.461100
6,11,131,12,127.950,8,0,11,41,08:19:22.144004,8.0,2017-11-05 17:12:38.605104,1 days 05:02:26.605104
7,12,131,12,69.660,12,0,11,41,04:35:52.147158,5.0,2017-11-05 21:48:30.752261,1 days 09:38:18.752261
8,14,131,12,144.380,19,0,11,41,10:20:12.139589,10.0,2017-11-06 08:08:42.891850,1 days 19:58:30.891850
9,15,131,12,45.510,20,0,11,41,01:29:35.523012,1.0,2017-11-06 09:38:18.414862,1 days 21:28:06.414862
10,16,131,12,82.215,1,1,11,41,06:19:01.830613,6.0,2017-11-06 15:57:20.245475,2 days 03:47:08.245475
11,17,131,12,63.975,3,1,11,41,04:50:33.647812,5.0,2017-11-06 20:47:53.893288,2 days 08:37:41.893288
12,18,131,12,62.070,5,1,11,41,05:02:36.375146,5.0,2017-11-07 01:50:30.268434,2 days 13:40:18.268434
13,19,131,12,97.575,10,1,11,41,10:12:57.463096,10.0,2017-11-07 12:03:27.731530,2 days 23:53:15.731530
14,21,131,12,217.330,3,2,11,41,20:22:19.033664,20.0,2017-11-08 08:25:46.765195,3 days 20:15:34.765195
15,6,132,21,83.835,3,1,10,53,05:54:21.858145,6.0,2017-10-23 07:30:10.858145,0 days 05:54:21.858145
16,8,132,21,115.690,7,1,10,53,10:15:50.203054,10.0,2017-10-23 17:46:01.061199,0 days 16:10:12.061199
17,9,132,21,27.020,9,1,10,53,02:30:51.834963,3.0,2017-10-23 20:16:52.896162,0 days 18:41:03.896162
18,10,132,21,39.330,13,1,10,53,03:02:44.739036,3.0,2017-10-23 23:19:37.635198,0 days 21:43:48.635198
19,11,132,21,127.950,17,1,10,53,10:54:31.119032,11.0,2017-10-24 10:14:08.754231,1 days 08:38:19.754231
20,12,132,21,69.660,21,1,10,53,03:16:02.652533,3.0,2017-10-24 13:30:11.406764,1 days 11:54:22.406764
21,14,132,21,144.380,4,2,10,53,13:46:11.730506,14.0,2017-10-25 03:16:23.137270,2 days 01:40:34.137270
22,15,132,21,45.510,5,2,10,53,04:21:36.387404,4.0,2017-10-25 07:37:59.524674,2 days 06:02:10.524674
23,16,132,21,82.215,10,2,10,53,07:40:19.962522,8.0,2017-10-25 15:18:19.487196,2 days 13:42:30.487196
24,17,132,21,63.975,12,2,10,53,05:35:56.582141,6.0,2017-10-25 20:54:16.069337,2 days 19:18:27.069337
25,18,132,21,62.070,14,2,10,53,05:07:55.355956,5.0,2017-10-26 02:02:11.425293,3 days 00:26:22.425293
26,19,132,21,97.575,19,2,10,53,07:24:23.778290,7.0,2017-10-26 09:26:35.203583,3 days 07:50:46.203583
27,21,132,21,217.330,12,3,10,53,21:22:01.937351,21.0,2017-10-27 06:48:37.140934,4 days 05:12:48.140934