In [1]:
import sqlite3
import numpy as np
import mysql.connector
import pandas as pd
import getpass
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
plotly.tools.set_credentials_file(username='mainakchain', api_key='B9m4DVrYYmsoW3jDSiok')
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
import plotly.figure_factory as ff
from scipy import stats
from sklearn.utils import shuffle
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from datetime import timedelta
from sklearn.ensemble import RandomForestRegressor
import datetime
import holidays
from sklearn.model_selection import cross_val_score
from sklearn.metrics import median_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVR
from sklearn.svm import SVR
import operator

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [2]:
time = pd.read_csv('time_between_two_tolls_new.csv')

In [8]:
toll_freq = dict(time['toll_both'].value_counts())
time['toll_freq'] = time['toll_both']
time['toll_freq'] = time['toll_freq'].apply(lambda x: toll_freq[x] )
m = int(0.3 * time['toll_freq'].median())
time = time[(time['toll_freq'] > m)]
time.drop(['toll_freq'], axis=1, inplace=True)

In [9]:
# toll_time = time
# toll_time.drop(['Unnamed: 0'], axis=1,inplace=True)

In [10]:
time

,origin,destination,toll_both,vehicle_no,loading_out_time,odometer_km,ist_timestamp,distance_from_toll,loading_in_time,start_date,eta,unloading_in_time,slug
60,Jamshedpur,HOSUR,Gurapalli,CG08L3445,2017-12-06 10:59:07,5288.99,2017-12-08 10:03:20,0.942362,2017-12-06 02:10:56,2017-12-06 00:00:00,2017-12-15 00:00:00,2017-12-10 22:50:11,ETEQG000
61,Jamshedpur,HOSUR,Gurapalli,OR07W5637,2017-12-05 23:16:47,4384.53,2017-12-07 09:33:52,0.944302,2017-12-05 01:42:44,2017-12-05 00:00:00,2017-12-14 00:00:00,2017-12-10 00:25:18,ET4MG000
62,Jamshedpur,HOSUR,Gurapalli,OD04C1925,2017-12-05 05:12:37,8666.41,2017-12-07 09:55:01,0.394930,2017-12-04 02:03:01,2017-12-04 00:00:00,2017-12-13 00:00:00,2017-12-10 21:21:50,ETYJG000
63,Jamshedpur,HOSUR,Gurapalli,OR05AJ4215,2017-12-04 14:58:15,6618.82,2017-12-07 09:34:36,0.562279,2017-12-03 05:36:16,2017-12-03 00:00:00,2017-12-12 00:00:00,2017-12-10 00:24:24,ETEIG000
64,Jamshedpur,HOSUR,Gurapalli,BR02AA8561,2017-12-04 04:37:11,10954.07,2017-12-06 05:46:08,0.949887,2017-12-02 05:23:19,2017-12-02 00:00:00,2017-12-11 00:00:00,2017-12-09 11:42:08,ETYEG000
65,Jamshedpur,HOSUR,Gurapalli,CG04JC3588,2017-12-02 23:49:54,6044.59,2017-12-05 01:04:02,0.064955,2017-12-02 05:13:20,2017-12-02 00:00:00,2017-12-11 00:00:00,2017-12-07 00:06:14,ETQEG000
66,Jamshedpur,HOSUR,Gurapalli,JH05AC8204,2017-12-02 05:22:11,6291.20,2017-12-05 09:31:20,0.441206,2017-12-01 14:33:50,2017-12-01 00:00:00,2017-12-13 00:00:00,2017-12-08 21:59:25,ETZCG000
67,Jamshedpur,HOSUR,Gurapalli,OD04J1422,2017-12-02 23:10:04,5208.37,2017-12-05 00:06:12,0.644782,2017-12-01 02:47:50,2017-12-01 00:00:00,2017-12-10 00:00:00,2017-12-06 23:05:38,ETACG000
68,Jamshedpur,HOSUR,Gurapalli,OR04M6922,2017-12-01 04:19:37,9085.49,2017-12-03 02:10:30,0.665987,2017-11-30 13:22:01,2017-11-30 00:00:00,2017-12-12 00:00:00,2017-12-04 16:56:12,ETNAG000
69,Jamshedpur,HOSUR,Gurapalli,OD11D4683,2017-12-01 01:07:56,9894.30,2017-12-04 08:13:47,0.771532,2017-11-30 05:39:58,2017-11-30 00:00:00,2017-12-08 00:00:00,2017-12-07 15:47:15,ETI9G000
70,Jamshedpur,HOSUR,Gurapalli,BR02GA3943,2017-12-01 00:18:48,7814.16,2017-12-03 02:28:20,0.784949,2017-11-30 05:35:54,2017-11-30 00:00:00,2017-12-08 00:00:00,2017-12-04 21:43:11,ETF9G000
71,Jamshedpur,HOSUR,Gurapalli,OR05AJ1525,2017-11-29 10:21:45,9094.34,2017-12-03 02:57:24,0.718179,2017-11-29 05:15:06,2017-11-29 00:00:00,2017-12-07 00:00:00,2017-12-05 22:51:53,ETD6G000
72,Jamshedpur,HOSUR,Gurapalli,OD07M1151,2017-11-30 04:58:30,8569.04,2017-12-01 07:34:06,0.935251,2017-11-29 05:00:12,2017-11-29 00:00:00,2017-12-07 00:00:00,2017-12-04 00:00:14,ET46G000
73,Jamshedpur,HOSUR,Gurapalli,JH02M1289,2017-11-29 23:09:26,7355.44,2017-12-02 18:22:21,0.714038,2017-11-28 12:44:22,2017-11-28 00:00:00,2017-12-04 00:00:00,2017-12-06 02:38:16,ET04G000
74,Jamshedpur,HOSUR,Gurapalli,WB23B7298,2017-11-30 14:58:09,5603.31,2017-12-02 05:14:04,0.630884,2017-11-28 11:02:52,2017-11-28 00:00:00,2017-12-06 00:00:00,2017-12-05 00:24:19,ETU3G000
75,Jamshedpur,HOSUR,Gurapalli,JH01AE6027,2017-11-29 01:25:09,4879.70,2017-12-01 03:06:21,0.994611,2017-11-28 04:45:02,2017-11-28 00:00:00,2017-12-10 00:00:00,2017-12-04 00:07:24,ET93G000
76,Jamshedpur,HOSUR,Gurapalli,CG04FB5095,2017-11-29 04:48:49,5496.09,2017-12-02 04:35:16,0.805660,2017-11-28 04:23:30,2017-11-28 00:00:00,2017-12-10 00:00:00,2017-12-05 19:24:21,ETV2G000
77,Jamshedpur,HOSUR,Gurapalli,OR07W2988,2017-11-26 22:59:12,4336.04,2017-11-28 08:01:46,0.356661,2017-11-25 14:02:01,2017-11-25 00:00:00,2017-12-04 00:00:00,2017-12-02 00:33:45,ETHUF000
78,Jamshedpur,HOSUR,Gurapalli,OR09G6882,2017-11-25 13:49:08,3359.34,2017-11-28 23:09:10,0.448280,2017-11-25 06:06:54,2017-11-25 00:00:00,2017-12-11 00:00:00,2017-12-08 23:21:32,ET1TF000
79,Jamshedpur,HOSUR,Gurapalli,OR07V0091,2017-11-27 03:16:12,9833.91,2017-11-29 00:14:25,0.561607,2017-11-25 06:03:58,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-11-30 22:49:04,ETZSF000
80,Jamshedpur,HOSUR,Gurapalli,OR04M5329,2017-11-27 03:32:37,5973.56,2017-11-28 06:51:42,0.438839,2017-11-25 05:57:26,2017-11-25 00:00:00,2017-12-07 00:00:00,2017-11-30 23:06:26,ETXSF000
81,Jamshedpur,HOSUR,Gurapalli,OR11J1747,2017-11-24 23:00:25,4614.91,2017-11-29 08:38:49,0.324677,2017-11-24 06:20:40,2017-11-24 00:00:00,2017-12-02 00:00:00,2017-12-02 22:04:30,ETDPF000
82,Jamshedpur,HOSUR,Gurapalli,OD04F1729,2017-11-24 22:59:50,3814.61,2017-11-27 03:25:09,0.965616,2017-11-24 06:18:05,2017-11-24 00:00:00,2017-12-03 00:00:00,2017-11-29 00:39:38,ETBPF000
83,Jamshedpur,HOSUR,Gurapalli,JH05AE4540,2017-11-25 22:40:42,8773.88,2017-11-28 02:50:52,0.752484,2017-11-24 06:15:14,2017-11-24 00:00:00,2017-12-03 00:00:00,2017-12-01 00:11:55,ET9PF000
84,Jamshedpur,HOSUR,Gurapalli,OR07Y9451,2017-11-25 03:56:05,6953.28,2017-11-26 15:28:40,0.794397,2017-11-23 20:27:29,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-30 14:02:15,ETIOF000
85,Jamshedpur,HOSUR,Gurapalli,CG08L3445,2017-11-25 04:00:27,6011.82,2017-11-26 13:53:56,0.649760,2017-11-23 20:14:09,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-29 00:04:35,ETHOF000
86,Jamshedpur,HOSUR,Gurapalli,OR05AJ8915,2017-11-25 02:04:10,5435.08,2017-11-28 00:49:09,0.942209,2017-11-23 13:41:43,2017-11-23 00:00:00,2017-12-05 00:00:00,2017-11-30 05:37:34,ETOMF000
87,Jamshedpur,HOSUR,Gurapalli,OR07V2855,2017-11-25 16:07:11,5975.53,2017-11-29 12:06:52,0.536095,2017-11-23 05:08:47,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-12-02 22:13:56,ETDLF000
88,Jamshedpur,HOSUR,Gurapalli,OD04G4791,2017-11-24 15:01:49,6727.71,2017-11-27 07:10:34,0.665657,2017-11-23 00:00:59,2017-11-23 00:00:00,2017-12-02 00:00:00,2017-11-30 04:29:29,ETBLF000
89,Jamshedpur,HOSUR,Gurapalli,OD04H5921,2017-11-24 10:43:11,6017.90,2017-11-27 03:30:32,0.591461,2017-11-22 02:40:50,2017-11-22 00:00:00,2017-11-30 00:00:00,2017-11-29 20:25:17,ET3JF000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,Jamshedpur,HOSUR,Gaddurur,CG04FB5095,2017-09-23 01:10:13,4532.72,2017-09-27 23:05:39,0.571947,2017-09-21 04:57:32,2017-09-21 00:00:00,2017-09-29 00:00:00,2017-09-28 01:23:29,ETABA000
3646,Jamshedpur,HOSUR,Gaddurur,BR02GA0735,2017-09-22 01:08:38,1724.32,2017-09-26 20:52:15,0.897443,2017-09-20 21:15:32,2017-09-20 00:00:00,2017-09-20 00:00:00,2017-09-26 23:14:43,ETQ9A000
3647,Jamshedpur,HOSUR,Gaddurur,JH12C4835,2017-09-20 15:24:00,2618.94,2017-09-28 11:37:56,0.815753,2017-09-19 16:56:47,2017-09-19 00:00:00,2017-10-01 00:00:00,2017-09-28 14:58:01,ETK4A000
3648,Jamshedpur,HOSUR,Gaddurur,JH10BF9400,2017-09-21 15:03:20,1711.27,2017-09-25 10:22:08,0.560809,2017-09-19 16:55:56,2017-09-19 00:00:00,2017-10-01 00:00:00,2017-09-25 17:27:00,ETH4A000
3649,Jamshedpur,HOSUR,Gaddurur,OD04D9687,2017-09-19 13:35:42,2774.62,2017-09-29 16:03:22,0.670872,2017-09-17 19:58:57,2017-09-17 00:00:00,2017-09-25 00:00:00,2017-09-29 18:35:14,ETXY9000
3650,Jamshedpur,HOSUR,Gaddurur,BR01GA9889,2017-09-18 23:04:16,2675.55,2017-09-22 19:11:57,0.756442,2017-09-17 13:33:27,2017-09-17 00:00:00,2017-09-25 00:00:00,2017-09-22 21:39:25,ETNY9000
3651,Jamshedpur,HOSUR,Gaddurur,WB23B7201,2017-09-20 04:02:35,2713.23,2017-09-24 16:42:41,0.927149,2017-09-17 16:08:02,2017-09-17 00:00:00,2017-09-25 00:00:00,2017-09-24 20:55:16,ETIY9000
3652,Jamshedpur,HOSUR,Gaddurur,JH01AV7634,2017-09-19 23:00:16,1724.46,2017-09-28 08:03:40,0.911487,2017-09-17 12:57:55,2017-09-17 00:00:00,2017-09-25 00:00:00,2017-09-28 10:41:40,ETHY9000
3653,Jamshedpur,HOSUR,Gaddurur,JH01BE2315,2017-09-19 23:00:54,3169.17,2017-09-28 08:08:36,0.972487,2017-09-17 13:31:14,2017-09-17 00:00:00,2017-09-25 00:00:00,2017-09-28 10:42:01,ETGY9000
3654,Jamshedpur,HOSUR,Gaddurur,TN78X5080,2017-09-16 01:27:57,4379.82,2017-09-19 03:59:22,0.378811,2017-09-14 23:01:29,2017-09-14 00:00:00,2017-09-23 00:00:00,2017-09-19 06:47:03,ET4O9000
3655,Jamshedpur,HOSUR,Gaddurur,NL02N0151,2017-09-16 06:17:39,5715.97,2017-09-23 11:41:33,0.933721,2017-09-14 17:52:52,2017-09-14 00:00:00,2017-09-26 00:00:00,2017-09-23 14:02:05,ETIM9000
3656,Jamshedpur,HOSUR,Gaddurur,OR04M9321,2017-09-15 23:04:15,2353.26,2017-09-20 01:25:29,0.892438,2017-09-14 17:55:13,2017-09-14 00:00:00,2017-09-25 00:00:00,2017-09-20 04:42:26,ETYL9000
3657,Jamshedpur,HOSUR,Gaddurur,OD04D0605,2017-09-15 23:46:36,5092.49,2017-09-22 15:34:58,0.845413,2017-09-14 17:41:38,2017-09-14 00:00:00,2017-09-25 00:00:00,2017-09-22 17:44:40,ETWL9000
3658,Jamshedpur,HOSUR,Gaddurur,BR06G3964,2017-09-15 23:47:12,1748.24,2017-09-19 01:23:21,0.988212,2017-09-14 16:58:08,2017-09-14 00:00:00,2017-09-25 00:00:00,2017-09-19 03:58:31,ETVL9000
3659,Jamshedpur,HOSUR,Gaddurur,JH05P9376,2017-09-13 00:20:00,1696.62,2017-09-19 20:11:24,0.272922,2017-09-11 09:44:42,2017-09-10 00:00:00,2017-09-18 00:00:00,2017-09-19 22:55:23,ETO89000
3660,Jamshedpur,HOSUR,Gaddurur,OR11D4683,2017-09-13 00:15:39,3588.08,2017-09-18 21:54:53,0.705291,2017-09-11 09:46:37,2017-09-10 00:00:00,2017-09-18 00:00:00,2017-09-19 01:01:05,ETN89000
3661,Jamshedpur,HOSUR,Gaddurur,OR07V5231,2017-09-09 00:17:55,3042.70,2017-09-16 08:56:28,0.854491,2017-09-08 20:29:34,2017-09-08 00:00:00,2017-09-16 00:00:00,2017-09-16 11:00:43,ET0Y8000
3662,Jamshedpur,HOSUR,Gaddurur,BR01GF8461,2017-09-08 00:25:22,1722.26,2017-09-12 01:46:24,0.601015,2017-09-07 05:13:09,2017-09-06 00:00:00,2017-09-18 00:00:00,2017-09-12 04:04:35,ETTQ8000
3663,Jamshedpur,HOSUR,Gaddurur,TN52F9587,2017-09-07 01:58:36,1474.20,2017-09-09 13:58:44,0.831401,2017-09-06 23:05:58,2017-09-06 00:00:00,2017-09-16 00:00:00,2017-09-09 15:53:01,ET2Q8000
3664,Jamshedpur,HOSUR,Gaddurur,OD04F1988,2017-09-07 01:55:45,2232.63,2017-09-10 13:18:45,0.316788,2017-09-05 15:21:07,2017-09-05 00:00:00,2017-09-25 00:00:00,2017-09-10 15:11:07,ETNM8000
3665,Jamshedpur,HOSUR,Gaddurur,JH05AW6380,2017-09-06 22:59:55,3177.01,2017-09-12 22:42:01,0.916354,2017-09-05 12:21:02,2017-09-05 00:00:00,2017-09-14 00:00:00,2017-09-13 01:57:19,ETUL8000
3666,Jamshedpur,HOSUR,Gaddurur,OR07U6675,2017-09-04 23:21:41,1708.69,2017-09-09 02:28:17,0.792648,2017-09-03 16:21:28,2017-09-03 00:00:00,2017-09-09 00:00:00,2017-09-09 05:33:56,ETMG8000
3667,Jamshedpur,HOSUR,Gaddurur,JH05AW5291,2017-09-06 04:42:22,1688.73,2017-09-12 22:43:53,0.742464,2017-09-03 13:03:14,2017-09-03 00:00:00,2017-09-12 00:00:00,2017-09-13 01:57:13,ET0G8000
3668,Jamshedpur,HOSUR,Gaddurur,OR07Y7231,2017-09-03 23:00:08,1710.08,2017-09-07 17:38:07,0.879263,2017-09-02 15:45:05,2017-09-02 00:00:00,2017-09-11 00:00:00,2017-09-07 21:53:10,ET7D8000
3669,Jamshedpur,HOSUR,Gaddurur,KA51A0876,2017-09-03 02:10:17,1720.23,2017-09-05 20:05:00,0.956816,2017-09-02 12:25:57,2017-09-02 00:00:00,2017-09-11 00:00:00,2017-09-05 22:00:48,ETMC8000
3670,Jamshedpur,HOSUR,Gaddurur,OD04F6436,2017-09-03 05:06:02,6488.34,2017-09-07 20:22:24,0.977544,2017-09-01 01:02:58,2017-09-01 00:00:00,2017-09-08 00:00:00,2017-09-07 22:38:48,ETBA8000
3671,Jamshedpur,HOSUR,Gaddurur,OD04F2036,2017-09-01 16:02:41,1801.91,2017-09-08 13:45:22,0.007743,2017-08-31 12:57:34,2017-08-31 00:00:00,2017-09-09 00:00:00,2017-09-08 18:40:51,ETD88000
3672,Jamshedpur,HOSUR,Gaddurur,JH02M1289,2017-09-01 01:45:23,1709.63,2017-09-08 14:11:52,0.611515,2017-08-31 16:47:33,2017-08-31 00:00:00,2017-09-08 00:00:00,2017-09-08 21:51:49,ET568000
3673,Jamshedpur,HOSUR,Gaddurur,OD04F2036,2017-09-01 16:02:41,1801.91,2017-09-08 13:45:22,0.007743,2017-08-31 12:57:34,2017-08-31 00:00:00,2017-09-09 00:00:00,2017-09-08 18:40:51,ETW58000
3674,Jamshedpur,HOSUR,Gaddurur,BR01GB9171,2017-08-31 23:03:37,1017.68,2017-09-06 19:34:13,0.551687,2017-08-31 15:24:54,2017-08-31 00:00:00,2017-09-08 00:00:00,2017-09-06 23:41:18,ETN48000

In [18]:
# toll_time.drop(['Unnamed: 0'], axis=1, inplace=True)

In [35]:
new_toll_time = toll_time.copy()

In [36]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_toll_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

In [37]:
new_toll_time['start_date'] = new_toll_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['days_from_now'] = new_toll_time['today'] - new_toll_time['start_date'] 
new_toll_time['days_from_now'] = new_toll_time['days_from_now'].apply(lambda x: x.days)

In [38]:
new_toll_time = toll_time.copy()

In [39]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_toll_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

new_toll_time['start_date'] = new_toll_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['days_from_now'] = new_toll_time['today'] - new_toll_time['start_date'] 
new_toll_time['days_from_now'] = new_toll_time['days_from_now'].apply(lambda x: x.days)

new_toll_time['unloading_in_time'] = new_toll_time['unloading_in_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['avg_travel_time'] = new_toll_time['start_date'] + (new_toll_time['unloading_in_time'] - new_toll_time['start_date'])/2

new_toll_time['month_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.month)

new_toll_time['ist_timestamp'] = new_toll_time['ist_timestamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
new_toll_time['time_of_travel'] = new_toll_time.ist_timestamp.apply(lambda x: x.hour)

new_toll_time['day_of_travel'] = new_toll_time['avg_travel_time'].apply(lambda x: x.weekday())

new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_toll_time['loading_out_time'] = new_toll_time['loading_out_time'].apply(lambda x: x.hour)

In [40]:
new_toll_time = new_toll_time[['toll_both','vehicle_no','loading_out_time','distance_travelled','time_of_travel','day_of_travel','month_of_travel','days_from_now','time_taken']]

In [151]:
# toll_dict = {'Sergrarh':1,'Panikholi':2, 'Manguli':3, 'Gudipada (Old Gangapada)':4, 'Gurapalli':5, 'Bellupada':6, 'Madapam':7, 'Chilakapalem':8, 'Nathavalasa/ Vizianagaram':9, 'Laxmipuram':10, 'Vempadu':11, 'Krishnavaram':12, 'Kalaparru':13, 'Pottipadu':14, 'Kaza':15, 'Bolapalli':16, 'Sunambatti (Musunur)':17, 'Venkatachallam &#160;(Old Nellore)':18, 'Budanam':19, 'Gaddurur':20, 'Mulbagal':21, 'Hoskote':22, 'Attibele (BETL)':23, 'Aganampudi':24}

In [46]:
def find_toll_num(df):
    toll_dict = {}
    new_toll_dict = {}
    num = 1
    for toll in df.toll_both.unique().tolist():
        d = df['distance_travelled'][df.toll_both == toll].mean()
        toll_dict[toll] = d
    
    for key, value in sorted(toll_dict.iteritems(), key=lambda (k,v): (v,k)):
        new_toll_dict[key] = num
        num+=1
        
    return new_toll_dict

In [48]:
new_toll_dict = find_toll_num(new_toll_time)

In [65]:
train_df = new_toll_time.copy()
test_df= pd.DataFrame(columns=['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_taken'])
choice = True
while(choice):
    today_date = datetime.datetime.now()
    vehicle = raw_input('Enter the vehicle no.: ')
    start = raw_input('Enter the start date in %Y-%m-%d %H:%M:%S format: ')
    start_delta = datetime.datetime.strptime(start, '%Y-%m-%d %H:%M:%S')
    
    loading_out = raw_input('Enter the loading out time in %Y-%m-%d %H:%M:%S format: ')
    loading_out_delta = datetime.datetime.strptime(loading_out, '%Y-%m-%d %H:%M:%S')
    
    a = []
    loop = input('Enter the number of tolls vehicle crossed sequentitially: ')
    count = 0
    print '      '
    while (count != loop):
        b = []
        toll = raw_input('Toll both: ')
        distance = input('Distance travelled from 1st toll in km: ')
        ist = raw_input('IST Timestamp in %Y-%m-%d %H:%M:%S format: ')
        ist_delta = datetime.datetime.strptime(ist, '%Y-%m-%d %H:%M:%S')
        b.extend([toll, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])
        a.append(b)
        count+=1
    
    add_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_taken'])
    train_df = train_df.append(add_df)
    
    test_toll = raw_input('Enter the numbers of tolls the vehicle shall take in the journey sequentially: ')
    test_toll_list = test_toll.split(',')
    test_toll_list = [str(a) for a in test_toll_list]

    a = []

    for toll_val in test_toll_list:
        b = []
        distance = toll_time['distance_travelled'][toll_time.toll_both == toll_val].median()
        ist_delta = loading_out_delta + timedelta(hours=toll_time['time_taken'][toll_time.toll_both == toll_val].median())
        b.extend([toll_val, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
                      (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])

        a.append(b)
    add_test_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now','time_taken'])
    
    test_df = test_df.append(add_test_df)
    
    c = raw_input('Want to enter more vehicles?(y/n)')
    
    if (c == 'y' or c == 'Y'):
        continue
    elif (c == 'n' or c == 'N'):
        choice = False
        print 'bbye'
    else:
        print 'Wrong Choice! Exiting'
        choice = False

Enter the vehicle no.: OR04M532M
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-11-02 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-11-03 12:02:43
Enter the number of tolls vehicle crossed sequentitially: 3

Toll both: Sergrarh
Distance travelled from 1st toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 08:22:51
Toll both: Panikholi
Distance travelled from 1st toll in km: 95.1
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 10:42:12
Toll both: Manguli
Distance travelled from 1st toll in km: 146.8
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 12:10:12
Enter the numbers of tolls the vehicle shall take in the journey sequentially: Gudipada (Old Gangapada),Gurapalli,Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Laxmipuram,Vempadu,Krishnavaram,Kalaparru,Pottipadu,Kaza,Bolapalli,Sunambatti (Musunur),Venkatachallam &#160;(Old Nellore),Budanam,Gaddurur,Mulbagal,Hoskote,Attibele (BETL)
Want to enter more vehicles?(y/n)y
Enter the vehicle no.: OR04M53MM
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-10-20 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-10-21 21:00:42
Enter the number of tolls vehicle crossed sequentitially: 5

Toll both: Sergrarh
Distance travelled from 1st toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 17:11:43
Toll both: Panikholi
Distance travelled from 1st toll in km: 94.6
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 19:35:13
Toll both: Manguli
Distance travelled from 1st toll in km: 146.5
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 21:10:53
Toll both: Gudipada (Old Gangapada)
Distance travelled from 1st toll in km: 204.6
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-22 23:20:17
Toll both: Gurapalli
Distance travelled from 1st toll in km: 293.59
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-23 01:35:49
Enter the numbers of tolls the vehicle shall take in the journey sequentially: Bellupada,Madapam,Chilakapalem,Nathavalasa/ Vizianagaram,Laxmipuram,Vempadu,Krishnavaram,Kalaparru,Pottipadu,Kaza,Bolapalli,Sunambatti (Musunur),Venkatachallam &#160;(Old Nellore),Budanam,Gaddurur,Mulbagal,Hoskote,Attibele (BETL)
Want to enter more vehicles?(y/n)n
bbye

In [66]:
train_df = train_df.reset_index(drop=True)
test_df = test_df.reset_index(drop=True)

In [72]:
train_df.to_csv('final_train_df_14Dec2017.csv')
test_df.to_csv('final_test_df_14Dec2017.csv')

In [73]:
train_df.shape, test_df.shape

((998, 9), (38, 9))

In [74]:
# test_df

In [75]:
# def change_toll_booth_to_dummy(df):
#     num = 1
#     dict_toll_both = {}
#     for toll in df['toll_both'].unique().tolist():
#         df['toll_both'] = df['toll_both'].replace({toll: num})
#         dict_toll_both[num] = toll
#         num += 1
#     return dict_toll_both

In [76]:
# dict_toll_both_train_df = change_toll_booth_to_dummy(train_df)
train_df.toll_both = train_df.toll_both.replace(new_toll_dict)
test_df.toll_both = test_df.toll_both.replace(new_toll_dict)

In [77]:
def change_vehicle_no_to_dummy(df):
    num = 1
    dict_vehicle_no = {}
    for truck in df['vehicle_no'].unique().tolist():
        df['vehicle_no'] = df['vehicle_no'].replace({truck: num})
        dict_vehicle_no[num] = truck
        num += 1
    return dict_vehicle_no

In [78]:
dict_vehicle_no_train_df = change_vehicle_no_to_dummy(train_df)

In [79]:
rev_dict_vehicle_no_test_df = dict((v,k) for k,v in dict_vehicle_no_train_df.iteritems())

In [80]:
test_df.vehicle_no = test_df.vehicle_no.replace(rev_dict_vehicle_no_test_df)

In [81]:
train_df['virtual_avg_speed'] = train_df['distance_travelled'] / train_df['time_taken']
test_df['virtual_avg_speed'] = test_df['distance_travelled'] / test_df['time_taken']

In [82]:
test_df_copy = test_df.copy()

In [83]:
test_df.drop(['time_taken'], axis=1, inplace=True)

In [163]:
# MODEL BUILDING AND APPLICATION

In [84]:
train_X = train_df.drop(['time_taken'], axis=1)
train_y = train_df.time_taken

In [85]:
train_X.shape

(998, 9)

In [86]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y, test_size=0.3, random_state=42)

In [87]:
reg_mlp = MLPRegressor(hidden_layer_sizes=(100,50), activation='logistic', alpha=8, solver='lbfgs', random_state=42)

In [88]:
scale= MinMaxScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [89]:
reg_mlp.fit(X_train_scaled, y_train)
reg_mlp.score(X_test_scaled, y_test) * 100

88.360236166104116

In [90]:
scores = cross_val_score(reg_mlp, X_train_scaled, y_train, scoring='r2', n_jobs=-1)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.97 (+/- 0.03)

In [91]:
scale = MinMaxScaler()
X_predict_scaled = scale.fit_transform(test_df)

In [92]:
predictions = reg_mlp.predict(X_predict_scaled)

In [127]:
show_df = test_df.copy()
show_df['predicted'] = predictions

In [128]:
show_df['predict_diff'] = show_df['predicted'].diff()

In [129]:
def med_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].median()

In [130]:
def mean_toll_time_taken(toll):
    return train_df['time_taken'][train_df['toll_both'] == toll ].mean()

In [131]:
show_df['med_time'] = show_df['toll_both']
show_df['med_time'] = show_df.med_time.apply(lambda x:med_toll_time_taken(x))
show_df['mean_time'] = show_df['toll_both']
show_df['mean_time'] = show_df.mean_time.apply(lambda x:mean_toll_time_taken(x))

In [132]:
show_df['avg_pred_med'] = (show_df['predicted'] + show_df['med_time']) / 2

In [133]:
x = train_df
x['avg_speed'] = x.distance_travelled/ x.time_taken
x = x[x.vehicle_no == 25].sort_values('distance_travelled')
x['avg_speed'] = x.distance_travelled/(x.time_taken - 40.88)
x

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
793,2,25,23,0.00,16,3,11,25,40.885833,0.000000,0.000000
704,3,25,23,90.70,21,3,11,25,45.974444,1.972835,17.803708
576,4,25,23,147.17,5,3,11,25,53.906389,2.730103,11.297836
235,5,25,23,204.06,6,3,11,25,55.247222,3.693579,14.203163
280,6,25,23,292.31,9,3,11,25,58.063611,5.034306,17.010976
27,7,25,23,377.35,13,3,11,25,61.943889,6.091804,17.914546
528,8,25,23,493.02,17,3,11,25,66.076667,7.461333,19.566874
154,9,25,23,520.71,18,3,11,25,66.876667,7.786124,20.029876
657,11,25,23,560.93,19,3,11,25,67.979444,8.251465,20.698948
484,10,25,23,560.93,19,3,11,25,67.979444,8.251465,20.698948
926,14,25,23,692.98,6,3,11,25,78.736667,8.801236,18.305362
439,15,25,23,763.54,8,3,11,25,80.906944,9.437262,19.075650
344,18,25,23,913.49,12,3,11,25,85.330278,10.705344,20.550828
750,19,25,23,935.46,13,3,11,25,85.913611,10.888379,20.772485
388,20,25,23,982.27,15,3,11,25,87.833333,11.183340,20.920133
66,21,25,23,1065.71,18,3,11,25,90.722500,11.746921,21.381552
879,22,25,23,1130.22,21,3,11,25,93.809167,12.048076,21.353444
836,24,25,23,1194.00,6,3,11,25,102.798333,11.614974,19.283465
969,25,25,23,1262.04,8,3,11,25,105.451944,11.967916,19.544711
109,26,25,23,1292.76,9,3,11,25,106.454444,12.143786,19.714387
194,27,25,23,1517.79,18,3,11,25,115.140000,13.182126,20.438863
616,28,25,23,1549.00,19,3,11,25,116.326389,13.315981,20.531135

In [134]:
train_df[train_df['vehicle_no'] == 45]

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
990,2,45,12,0.0,8,5,11,40,20.335556,0.000000,0.000000
991,3,45,12,95.1,10,5,11,40,22.658056,4.197183,4.197183
992,4,45,12,146.8,12,5,11,40,24.124722,6.085044,6.085044

In [135]:
show_df['avg_speed_pred'] = show_df['distance_travelled']/show_df['predicted']
show_df['avg_speed_med'] = show_df['distance_travelled']/show_df['med_time']

In [136]:
show_df['test_pred'] = show_df['predicted'] + show_df.avg_speed_pred

In [137]:
show_df['round_pred'] = show_df['predicted'].round()

In [138]:
show_df['median_input'] =  test_df_copy['time_taken']

In [139]:
show_df.drop(['virtual_avg_speed','predict_diff','mean_time','avg_pred_med','avg_speed_med','avg_speed_pred'], axis=1, inplace=True)

In [157]:
show_df['mean_pred_med'] = (show_df['round_pred'] + show_df['median_input'] )/2

In [158]:
train_df[(train_df['toll_both'] == 33) | (train_df['toll_both'] == 32)]

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,virtual_avg_speed,avg_speed
2,33,3,0,1610.77,21,5,12,14,93.539722,17.220171,17.220171
3,33,4,4,1641.28,23,4,12,15,90.695556,18.096587,18.096587
4,33,5,3,1620.49,23,2,11,19,91.733889,17.665118,17.665118
5,33,6,3,1611.30,22,2,11,19,91.681111,17.575049,17.575049
6,33,7,22,1615.10,0,2,11,19,121.713056,13.269735,13.269735
7,33,8,23,1625.30,22,1,11,20,191.201389,8.500461,8.500461
8,33,9,14,1509.52,1,4,12,16,106.604444,14.160010,14.160010
302,32,3,0,1574.09,18,5,12,14,90.166111,17.457668,17.457668
303,32,13,4,1578.05,5,5,11,29,144.914167,10.889550,10.889550
304,32,1,0,1584.41,0,2,11,40,168.228056,9.418227,9.418227
305,32,16,23,1574.79,1,5,12,16,146.097222,10.779055,10.779055
306,32,17,22,1546.99,17,0,11,20,114.960000,13.456768,13.456768
307,32,21,1,1571.04,19,4,11,38,137.944722,11.388910,11.388910
308,32,24,0,1582.97,22,5,11,29,118.489444,13.359587,13.359587
309,32,38,15,1584.11,20,6,11,21,125.666389,12.605678,12.605678
310,32,4,4,1600.56,18,4,12,15,85.666389,18.683640,18.683640
311,32,5,8,1559.10,17,1,11,39,128.515833,12.131579,12.131579
312,32,5,3,1584.69,21,2,11,19,90.010833,17.605547,17.605547
313,32,27,1,1576.51,15,5,11,28,110.215833,14.303843,14.303843
314,32,28,2,1584.85,0,6,11,21,118.666944,13.355446,13.355446
315,32,41,3,1569.80,0,5,11,29,117.335556,13.378724,13.378724
316,32,6,3,1575.17,21,2,11,19,90.211667,17.460824,17.460824
317,32,7,22,1578.99,15,2,11,19,112.044167,14.092568,14.092568
318,32,8,23,1588.94,15,1,11,20,184.901667,8.593433,8.593433
319,32,9,14,1474.41,0,4,12,16,105.486111,13.977290,13.977290

In [160]:
new_toll_dict

{'Aganampudi': 13,
 'Attibele (BETL)': 33,
 'Bellupada': 7,
 'Bolapalli': 21,
 'Budanam': 26,
 'Chilakapalem': 9,
 'Eethakota': 16,
 'Gaddurur': 27,
 'Gudipada (Old Gangapada)': 5,
 'Gurapalli': 6,
 'Hasanpur (Sainkul)': 1,
 'Hoskote': 32,
 'Kalaparru': 18,
 'Kaza': 20,
 'Krishnagiri': 31,
 'Krishnavaram': 15,
 'Laxmipuram': 10,
 'Madapam': 8,
 'Main Toll (Gosthani Gate) (Sheela Nagar)': 12,
 'Manguli': 4,
 'Mulbagal': 28,
 'Nathavalasa/ Vizianagaram': 11,
 'Palempalli': 23,
 'Pallikonda': 29,
 'Panikholi': 3,
 'Pottipadu': 19,
 'Sergrarh': 2,
 'Sunambatti (Musunur)': 24,
 'Tangutur': 22,
 'Unguturu': 17,
 'Vaniyambadi': 30,
 'Vempadu': 14,
 'Venkatachallam &#160;(Old Nellore)': 25}

In [159]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,med_time,test_pred,round_pred,median_input,mean_pred_med
0,5,45,12,203.320,10,6,11,40,40.966541,45.996250,45.929616,41.0,46.387500,43.693750
1,6,45,12,291.250,13,6,11,40,37.942090,49.686667,45.618262,38.0,49.882639,43.941319
2,7,45,12,375.245,20,6,11,40,51.406044,56.755556,58.705672,51.0,56.755556,53.877778
3,8,45,12,490.530,0,0,11,40,55.744775,60.303056,64.544344,56.0,60.303056,58.151528
4,9,45,12,517.415,3,0,11,40,61.819924,63.638889,70.189637,62.0,63.638889,62.819444
5,11,45,12,556.620,5,0,11,40,64.102620,65.382917,72.785885,64.0,65.382917,64.691458
6,10,45,12,556.620,5,0,11,40,63.573588,65.382917,72.329111,64.0,65.382917,64.691458
7,14,45,12,684.270,11,0,11,40,68.525055,71.403333,78.510745,69.0,71.403333,70.201667
8,15,45,12,753.930,16,0,11,40,74.526918,76.884444,84.643129,75.0,76.884444,75.942222
9,18,45,12,897.510,2,1,11,40,84.239283,86.089444,94.893576,84.0,86.089444,85.044722
10,19,45,12,918.860,2,1,11,40,83.769129,86.291944,94.738086,84.0,86.291944,85.145972
11,20,45,12,964.230,4,1,11,40,84.842131,88.036944,96.207121,85.0,88.036944,86.518472
12,21,45,12,1046.730,8,1,11,40,88.609056,92.291944,100.421957,89.0,92.291944,90.645972
13,24,45,12,1171.885,18,1,11,40,99.691590,102.037083,111.446694,100.0,102.037083,101.018542
14,25,45,12,1239.060,21,1,11,40,102.589618,105.121667,114.667449,103.0,105.121667,104.060833
15,26,45,12,1269.870,22,1,11,40,103.205140,106.137500,115.509469,103.0,106.137500,104.568750
16,27,45,12,1487.190,14,2,11,40,119.689833,122.277500,132.115199,120.0,122.277500,121.138750
17,28,45,12,1517.610,15,2,11,40,119.884345,123.210833,132.543295,120.0,123.210833,121.605417
18,32,45,12,1577.280,9,2,11,40,109.081285,117.912500,123.540960,109.0,117.912500,113.456250
19,33,45,12,1615.100,9,1,11,40,77.443029,93.539722,98.298360,77.0,93.539722,85.269861
20,7,46,21,375.245,5,1,10,53,37.469293,56.755556,47.484027,37.0,56.755556,46.877778
21,8,46,21,490.530,9,1,10,53,45.088403,60.303056,55.967697,45.0,60.303056,52.651528
22,9,46,21,517.415,12,1,10,53,49.703280,63.638889,60.113358,50.0,63.638889,56.819444
23,11,46,21,556.620,14,1,10,53,53.163981,65.382917,63.633851,53.0,65.382917,59.191458
24,10,46,21,556.620,14,1,10,53,52.391013,65.382917,63.015354,52.0,65.382917,58.691458
25,14,46,21,684.270,20,1,10,53,60.596905,71.403333,71.889066,61.0,71.403333,66.201667
26,15,46,21,753.930,1,2,10,53,69.416095,76.884444,80.277121,69.0,76.884444,72.942222
27,18,46,21,897.510,11,2,10,53,80.124872,86.089444,91.326262,80.0,86.089444,83.044722
28,19,46,21,918.860,11,2,10,53,80.293545,86.291944,91.737304,80.0,86.291944,83.145972
29,20,46,21,964.230,13,2,10,53,82.083613,88.036944,93.830537,82.0,88.036944,85.018472
30,21,46,21,1046.730,17,2,10,53,86.621978,92.291944,98.705862,87.0,92.291944,89.645972
31,24,46,21,1171.885,3,3,10,53,101.519782,102.037083,113.063197,102.0,102.037083,102.018542
32,25,46,21,1239.060,6,3,10,53,104.491036,105.121667,116.349087,104.0,105.121667,104.560833
33,26,46,21,1269.870,7,3,10,53,105.007304,106.137500,117.100463,105.0,106.137500,105.568750
34,27,46,21,1487.190,23,3,10,53,122.168266,122.277500,134.341558,122.0,122.277500,122.138750
35,28,46,21,1517.610,0,4,10,53,132.418813,123.210833,143.879495,132.0,123.210833,127.605417
36,32,46,21,1577.280,18,3,10,53,111.384487,117.912500,125.545167,111.0,117.912500,114.456250
37,33,46,21,1615.100,18,2,10,53,81.571867,93.539722,101.371586,82.0,93.539722,87.769861