In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn.neural_network import MLPRegressor
import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score

In [2]:
# new_toll_time = pd.read_csv('new_toll_time_no_0.csv')

In [3]:
# new_toll_time.shape

In [4]:
# new_toll_time.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
toll = pd.read_csv('time_between_two_tolls_new.csv')

In [6]:
toll.head(5)

,origin,destination,toll_both,vehicle_no,loading_out_time,odometer_km,ist_timestamp,distance_from_toll,loading_in_time,start_date,eta,unloading_in_time,slug
0,Jamshedpur,HOSUR,Main Toll (Gosthani Gate) (Sheela Nagar),JH01AE6027,2017-11-06 00:16:58,7907.41,2017-11-10 22:00:15,0.861485,2017-11-04 20:05:00,2017-11-04 00:00:00,2017-11-13 00:00:00,2017-11-13 01:39:39,ETJ0E000
1,Jamshedpur,HOSUR,Main Toll (Gosthani Gate) (Sheela Nagar),TN36Y9906,2017-11-04 23:23:59,6801.69,2017-11-07 01:23:32,0.991380,2017-11-04 05:45:21,2017-11-04 00:00:00,2017-11-16 00:00:00,2017-11-10 03:37:24,ETOYD000
2,Jamshedpur,HOSUR,Main Toll (Gosthani Gate) (Sheela Nagar),KA51A0876,2017-10-04 23:55:01,3544.38,2017-10-06 15:18:55,0.926986,2017-10-04 15:22:08,2017-10-04 00:00:00,2017-10-16 00:00:00,2017-10-07 21:38:32,ETUBB000
3,Jamshedpur,HOSUR,Main Toll (Gosthani Gate) (Sheela Nagar),OR11D4683,2017-10-05 01:15:48,1642.85,2017-10-08 03:21:59,0.933659,2017-10-04 13:55:45,2017-10-04 00:00:00,2017-10-12 00:00:00,2017-10-10 20:27:07,ET7BB000
4,Jamshedpur,HOSUR,Main Toll (Gosthani Gate) (Sheela Nagar),TN30U6751,2017-10-03 11:32:58,4092.77,2017-10-05 21:06:44,0.902485,2017-10-03 06:33:28,2017-10-03 00:00:00,2017-10-14 00:00:00,2017-10-07 09:16:38,ET78B000

In [7]:
toll['ist_timestamp'] = toll['ist_timestamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
toll['loading_out_time'] = toll['loading_out_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
toll['hours']  = toll['ist_timestamp'] - toll['loading_out_time']
toll['hours'] = toll.hours.apply(lambda x:x.total_seconds()/3600)

In [8]:
toll['distance_travelled'] = 0.0
toll['time_taken'] = toll['hours']
toll['time_btn_tolls'] = 0

In [9]:
new_time = pd.DataFrame(columns=toll.columns.tolist())

In [10]:
for truck in toll.vehicle_no.unique().tolist():
    for st_time in toll.start_date.unique().tolist():
        df = toll[(toll.vehicle_no == truck) & (toll.start_date == st_time)].sort_values('odometer_km')
        df.distance_travelled = df.odometer_km.diff()
        df.time_btn_tolls = df.hours.diff()
        new_time = new_time.append(df)

In [11]:
new_time = new_time.loc[new_time['distance_travelled'] != 0]
new_time = new_time.fillna(0)

In [12]:
new_time['distance_travelled_cummulative'] = 0

for truck in new_time.vehicle_no.unique().tolist():
    for st_time in new_time.start_date.unique().tolist():
        new_time.loc[(new_time['vehicle_no'] == truck) & (new_time['start_date'] == st_time), 'distance_travelled_cummulative'] = new_time.loc[(new_time['vehicle_no'] == truck) & (new_time['start_date'] == st_time)]['distance_travelled'].cumsum()

In [15]:
new_time.loc[new_time['time_btn_tolls'] == 0, 'time_btn_tolls']  = new_time.loc[new_time['time_btn_tolls'] == 0, 'time_taken']

In [16]:
new_time['delivery_status'] = 0
new_time['start_date'] = new_time['start_date'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_time['eta'] = toll['eta'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
new_time['unloading_in_time'] = new_time['unloading_in_time'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )

In [17]:
# toll.dtypes

In [18]:
new_time['delivery_status'] = (new_time['unloading_in_time'] - new_time['loading_out_time']) - (new_time['eta'] - new_time['start_date'])

In [19]:
new_time['delivery_status'] = new_time['delivery_status'].apply(lambda x: x.total_seconds()/3600)

In [20]:
new_time['delivery'] = ''

In [21]:
new_time.loc[new_time['delivery_status'] > 24, 'delivery'] = 'delay'
new_time.loc[(new_time['delivery_status'] <= 24) & (new_time['delivery_status'] >= 0), 'delivery'] = 'on-time'
new_time.loc[(new_time['delivery_status'] < 0), 'delivery'] = 'early'

In [22]:
new_time.delivery = new_time.delivery.replace({'delay':3,'on-time':2,'early':1})

In [23]:
today_date = datetime.datetime.now()
today_date.strftime("%Y-%m-%d %H:%M:%S")
today = today_date.strftime("%Y-%m-%d %H:%M:%S")
new_time['today'] = datetime.datetime.strptime(today, '%Y-%m-%d %H:%M:%S')

new_time['days_from_now'] = new_time['today'] - new_time['start_date'] 
new_time['days_from_now'] = new_time['days_from_now'].apply(lambda x: x.days)

new_time['avg_travel_time'] = new_time['start_date'] + (new_time['unloading_in_time'] - new_time['start_date'])/2

new_time['month_of_travel'] = new_time['avg_travel_time'].apply(lambda x: x.month)

new_time['time_of_travel'] = new_time.ist_timestamp.apply(lambda x: x.hour)

new_time['day_of_travel'] = new_time['avg_travel_time'].apply(lambda x: x.weekday())

In [24]:
toll_freq = dict(new_time['toll_both'].value_counts())
new_time['toll_freq'] = new_time['toll_both']
new_time['toll_freq'] = new_time['toll_freq'].apply(lambda x: toll_freq[x] )
m = int(0.3 * new_time['toll_freq'].median())
new_time = new_time[(new_time['toll_freq'] > m)]
new_time.drop(['toll_freq'], axis=1, inplace=True)

In [25]:
new_time.columns

Index([u'origin', u'destination', u'toll_both', u'vehicle_no',
       u'loading_out_time', u'odometer_km', u'ist_timestamp',
       u'distance_from_toll', u'loading_in_time', u'start_date', u'eta',
       u'unloading_in_time', u'slug', u'hours', u'distance_travelled',
       u'time_taken', u'time_btn_tolls', u'distance_travelled_cummulative',
       u'delivery_status', u'delivery', u'today', u'days_from_now',
       u'avg_travel_time', u'month_of_travel', u'time_of_travel',
       u'day_of_travel'],
      dtype='object')

In [26]:
new_time['median_timestamp'] = 0

In [27]:
for toll_b in new_time.toll_both.unique().tolist():
    new_time.loc[new_time['toll_both'] == toll_b, 'median_timestamp'] = new_time.loc[new_time['toll_both'] == toll_b]['time_taken'].median()

In [28]:
new_time.dtypes

origin                                    object
destination                               object
toll_both                                 object
vehicle_no                                object
loading_out_time                  datetime64[ns]
odometer_km                              float64
ist_timestamp                     datetime64[ns]
distance_from_toll                       float64
loading_in_time                           object
start_date                        datetime64[ns]
eta                               datetime64[ns]
unloading_in_time                 datetime64[ns]
slug                                      object
hours                                    float64
distance_travelled                       float64
time_taken                               float64
time_btn_tolls                           float64
distance_travelled_cummulative           float64
delivery_status                          float64
delivery                                   int64
today                             datetime64[ns]
days_from_now                              int64
avg_travel_time                   datetime64[ns]
month_of_travel                            int64
time_of_travel                             int64
day_of_travel                              int64
median_timestamp                         float64
dtype: object

In [29]:
new_time['median_timestamp'] = new_time['median_timestamp'].apply(lambda x:datetime.timedelta(hours=x))
new_time['median_timestamp'] = new_time['median_timestamp'] + new_time['loading_out_time']

In [30]:
new_time['delay'] = new_time['ist_timestamp'] - new_time['median_timestamp']

In [31]:
new_time['delay'] = new_time['delay'].apply(lambda x: x.total_seconds()/3600)

In [32]:
new_time['loading_out_time'] = new_time['loading_out_time'].apply(lambda x: x.hour)

In [36]:
new_time[['time_taken','delay','deliver']]

      time_taken      delay
471    85.678333  49.392083
830    92.311667  49.692778
292    94.503889  50.178056
2082  102.600278  47.963889
2247  109.226389  50.314722
1388  109.882778  49.641944
2433  115.549444  53.543611
1570  130.737778  61.925556
1009  136.022778  63.340278
1739  143.367500  62.708889
3124  145.705556  60.510000
3290  147.456389  59.966250
2953  153.872500  64.157639
1914  156.067778  61.315972
3582  165.316389  53.598889
3455  166.286389  54.965000
440    41.146389   4.860139
615    43.582500   2.538333
795    44.885278   2.266389
75     49.686667   1.934444
2056   52.959722  -1.676667
2748   71.613333  -7.751528
2577   72.180000  -6.196111
1707   73.366111  -7.292500
522     8.726111 -27.560139
701    11.479167 -29.565000
880    13.382222 -29.236667
344    15.268611 -29.057222
160    17.907778 -29.844444
2124   22.643056 -31.993333
...          ...        ...
1397   62.001389   1.760556
1219   63.011667   1.399722
2790   79.958056   0.593194
2618   80.924722   2.548611
1747   82.098611   1.440000
3133   85.320556   0.125000
3299   86.959444  -0.530694
1923   98.982222   4.230417
3586  109.517222  -2.200278
3460  110.595556  -0.725833
502    18.782222 -17.504028
681    20.935000 -20.109167
862    22.915556 -19.703333
2108   28.995556 -25.640833
1419   33.635556 -26.605278
1240   34.983056 -26.628889
1771   83.870833   3.212222
549    86.326667  50.040417
2147  108.435833  53.799444
2323  113.127778  54.216111
1463  113.801667  53.560833
1285  116.725278  55.113333
2046   82.114722  27.478333
965   105.732222  33.049722
3547  130.925278  19.207778
3419  131.729722  20.408333
1555   63.783056  -5.029167
995    65.319444  -7.363056
2768   72.448611  -6.916250
2597   72.931944  -5.444167

[3386 rows x 2 columns]

In [156]:
final_df = new_time[['toll_both','vehicle_no','loading_out_time','ist_timestamp','distance_travelled','time_of_travel','day_of_travel','month_of_travel','days_from_now','delivery','time_taken','delay','time_btn_tolls']]

In [157]:
# new_toll_time.loc[new_toll_time['time_btn_tolls'] == 0, 'time_btn_tolls']  = new_toll_time.loc[new_toll_time['time_btn_tolls'] == 0, 'time_taken']

In [158]:
final_df.to_csv('SUPER_FINAL_DF.csv', index=False)

In [179]:
final_df['vehicle_no'][final_df['delivery'] == 3].value_counts()

BR02GA0735    20
WB23C9411     19
AP26TB0388    16
OD04D9687     15
WB03C9131     10
Name: vehicle_no, dtype: int64

In [180]:
# JH02M1289 on-time
# TN28BB9075 early
# BR02GA0735 late

In [159]:
df_late = final_df[final_df['vehicle_no'] == 'BR02GA0735']
df_early = final_df[final_df['vehicle_no'] == 'TN28BB9075']
df_on_time = final_df[final_df['vehicle_no'] == 'JH02M1289']

In [160]:
test_df = pd.DataFrame(columns=df_late.columns.tolist())

In [161]:
test_df = test_df.append([df_late, df_early, df_on_time])

In [162]:
train_df = final_df[final_df['vehicle_no'].isin(['BR02GA0735','TN28BB9075','JH02M1289']) == False]

In [163]:
final_df.shape, train_df.shape, test_df.shape

((3386, 13), (3270, 13), (116, 13))

In [164]:
final_df.columns

Index([u'toll_both', u'vehicle_no', u'loading_out_time', u'ist_timestamp',
       u'distance_travelled', u'time_of_travel', u'day_of_travel',
       u'month_of_travel', u'days_from_now', u'delivery', u'time_taken',
       u'delay', u'time_btn_tolls'],
      dtype='object')

In [165]:
train_df_copy = train_df.copy()
test_df_copy = test_df.copy()

In [166]:
train_df.drop(['delivery'], axis=1, inplace=True)
test_df.drop(['delivery'], axis=1, inplace=True)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [168]:
test_df.head()

,toll_both,vehicle_no,loading_out_time,ist_timestamp,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,time_taken,delay,time_btn_tolls
561,Sergrarh,BR02GA0735,1,2017-09-23 11:07:52,0.00,11,5,9,87,33.987222,-2.299028,33.987222
739,Panikholi,BR02GA0735,1,2017-09-23 15:35:29,93.71,15,5,9,87,38.447500,-2.596667,4.460278
919,Manguli,BR02GA0735,1,2017-09-23 18:34:15,53.26,18,5,9,87,41.426944,-1.191944,2.979444
383,Gudipada (Old Gangapada),BR02GA0735,1,2017-09-23 20:43:26,56.30,20,5,9,87,43.580000,-0.745833,2.153056
199,Gurapalli,BR02GA0735,1,2017-09-23 23:16:32,88.58,23,5,9,87,46.131667,-1.620556,2.551667

In [184]:
toll.dtypes

origin                                    object
destination                               object
toll_both                                 object
vehicle_no                                object
loading_out_time                  datetime64[ns]
odometer_km                              float64
ist_timestamp                     datetime64[ns]
distance_from_toll                       float64
loading_in_time                           object
start_date                                object
eta                                       object
unloading_in_time                         object
slug                                      object
hours                                    float64
distance_travelled                       float64
time_taken                               float64
time_btn_tolls                             int64
distance_travelled_cummulative             int64
dtype: object

In [185]:

        
# for truck in final_df.vehicle_no.unique().tolist():
#     final_df.loc[final_df['vehicle_no'] == truck, 'distance_travelled_cummulative'] = final_df.loc[final_df['vehicle_no'] == truck]['distance_travelled'].cumsum()

In [174]:
final_df.toll_both.nunique()

21

In [178]:
final_df[final_df['vehicle_no'] == 'JH01AE6027']

,toll_both,vehicle_no,loading_out_time,ist_timestamp,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,delivery,time_taken,delay,time_btn_tolls,distance_travelled_cummulative
471,Sergrarh,JH01AE6027,0,2017-11-09 13:57:40,0.00,13,2,11,42,1,85.678333,49.392083,85.678333,0.00
830,Manguli,JH01AE6027,0,2017-11-09 20:35:40,146.47,20,2,11,42,1,92.311667,49.692778,6.633333,146.47
292,Gudipada (Old Gangapada),JH01AE6027,0,2017-11-09 22:47:12,55.83,22,2,11,42,1,94.503889,50.178056,2.192222,202.30
2082,Bellupada,JH01AE6027,0,2017-11-10 06:52:59,171.77,6,2,11,42,1,102.600278,47.963889,8.096389,374.07
2247,Madapam,JH01AE6027,0,2017-11-10 13:30:33,114.17,13,2,11,42,1,109.226389,50.314722,6.626111,488.24
1388,Chilakapalem,JH01AE6027,0,2017-11-10 14:09:56,27.46,14,2,11,42,1,109.882778,49.641944,0.656389,515.70
2433,Nathavalasa/ Vizianagaram,JH01AE6027,0,2017-11-10 19:49:56,38.72,19,2,11,42,1,115.549444,53.543611,5.666667,554.42
1570,Vempadu,JH01AE6027,0,2017-11-11 11:01:14,67.28,11,2,11,42,1,130.737778,61.925556,12.783056,621.70
1009,Krishnavaram,JH01AE6027,0,2017-11-11 16:18:20,69.42,16,2,11,42,1,136.022778,63.340278,5.285000,691.12
1739,Kaza,JH01AE6027,0,2017-11-11 23:39:01,209.57,23,2,11,42,1,143.367500,62.708889,7.344722,900.69
3124,Bolapalli,JH01AE6027,0,2017-11-12 01:59:18,82.18,1,2,11,42,1,145.705556,60.510000,2.338056,982.87
3290,Tangutur,JH01AE6027,0,2017-11-12 03:44:21,63.96,3,2,11,42,1,147.456389,59.966250,1.750833,1046.83
2953,Sunambatti (Musunur),JH01AE6027,0,2017-11-12 10:09:19,62.31,10,2,11,42,1,153.872500,64.157639,6.416111,1109.14
1914,Budanam,JH01AE6027,0,2017-11-12 12:21:02,97.26,12,2,11,42,1,156.067778,61.315972,2.195278,1206.40
3582,Gaddurur,JH01AE6027,0,2017-11-12 21:35:57,215.25,21,2,11,42,1,165.316389,53.598889,9.248611,1421.65
3455,Mulbagal,JH01AE6027,0,2017-11-12 22:34:09,30.89,22,2,11,42,1,166.286389,54.965000,0.970000,1452.54
440,Sergrarh,JH01AE6027,1,2017-11-30 18:33:56,0.00,18,4,12,18,1,41.146389,4.860139,41.146389,1452.54
615,Panikholi,JH01AE6027,1,2017-11-30 21:00:06,92.99,21,4,12,18,1,43.582500,2.538333,2.436111,1545.53
795,Manguli,JH01AE6027,1,2017-11-30 22:18:16,54.27,22,4,12,18,1,44.885278,2.266389,1.302778,1599.80
75,Gurapalli,JH01AE6027,1,2017-12-01 03:06:21,77.86,3,4,12,18,1,49.686667,1.934444,4.801389,1677.66
2056,Bellupada,JH01AE6027,1,2017-12-01 06:22:44,84.43,6,4,12,18,1,52.959722,-1.676667,3.273056,1762.09
2748,Kalaparru,JH01AE6027,1,2017-12-02 01:01:57,144.56,1,4,12,18,1,71.613333,-7.751528,18.653611,1906.65
2577,Pottipadu,JH01AE6027,1,2017-12-02 01:35:57,21.60,1,4,12,18,1,72.180000,-6.196111,0.566667,1928.25
1707,Kaza,JH01AE6027,1,2017-12-02 02:47:07,45.56,2,4,12,18,1,73.366111,-7.292500,1.186111,1973.81
522,Sergrarh,JH01AE6027,9,2017-10-12 18:24:07,0.00,18,2,10,69,1,8.726111,-27.560139,8.726111,1973.81
701,Panikholi,JH01AE6027,9,2017-10-12 21:09:18,93.80,21,2,10,69,1,11.479167,-29.565000,2.753056,2067.61
880,Manguli,JH01AE6027,9,2017-10-12 23:03:29,53.36,23,2,10,69,1,13.382222,-29.236667,1.903056,2120.97
344,Gudipada (Old Gangapada),JH01AE6027,9,2017-10-13 00:56:40,56.74,0,2,10,69,1,15.268611,-29.057222,1.886389,2177.71
160,Gurapalli,JH01AE6027,9,2017-10-13 03:35:01,87.69,3,2,10,69,1,17.907778,-29.844444,2.639167,2265.40
2124,Bellupada,JH01AE6027,9,2017-10-13 08:19:08,83.42,8,2,10,69,1,22.643056,-31.993333,4.735278,2348.82
2296,Madapam,JH01AE6027,9,2017-10-13 13:19:46,115.19,13,2,10,69,1,27.653611,-31.258056,5.010556,2464.01
1438,Chilakapalem,JH01AE6027,9,2017-10-13 14:07:23,27.23,14,2,10,69,1,28.447222,-31.793611,0.793611,2491.24
1258,Laxmipuram,JH01AE6027,9,2017-10-13 15:58:08,39.26,15,2,10,69,1,30.293056,-31.318889,1.845833,2530.50
1617,Vempadu,JH01AE6027,9,2017-10-13 21:48:11,126.72,21,2,10,69,1,36.127222,-32.685000,5.834167,2657.22
1057,Krishnavaram,JH01AE6027,9,2017-10-14 00:48:42,69.20,0,2,10,69,1,39.135833,-33.546667,3.008611,2726.42
2832,Kalaparru,JH01AE6027,9,2017-10-14 06:01:00,142.77,6,2,10,69,1,44.340833,-35.024028,5.205000,2869.19
2659,Pottipadu,JH01AE6027,9,2017-10-14 06:41:00,21.50,6,2,10,69,1,45.007500,-33.368611,0.666667,2890.69
1791,Kaza,JH01AE6027,9,2017-10-14 07:53:16,45.23,7,2,10,69,1,46.211944,-34.446667,1.204444,2935.92
3338,Tangutur,JH01AE6027,9,2017-10-14 14:12:29,146.18,14,2,10,69,1,52.532222,-34.957917,6.320278,3082.10
3000,Sunambatti (Musunur),JH01AE6027,9,2017-10-14 15:49:43,62.28,15,2,10,69,1,54.152778,-35.562083,1.620556,3144.38
1965,Budanam,JH01AE6027,9,2017-10-14 18:17:49,97.28,18,2,10,69,1,56.621111,-38.130694,2.468333,3241.66
3620,Gaddurur,JH01AE6027,9,2017-10-15 14:21:09,216.54,14,2,10,69,1,76.676667,-35.040833,20.055556,3458.20
3496,Mulbagal,JH01AE6027,9,2017-10-15 15:20:41,31.14,15,2,10,69,1,77.668889,-33.652500,0.992222,3489.34

In [251]:
dict_last_ist = {}
final_train_df = train_df.copy()
final_test_df= test_df.copy()

list_choice_truck = test_df.vehicle_no.unique().tolist()
choice = True
while(choice):
    num = 1
    print 'Choose the vehjcle no.'
    
    today_date = datetime.datetime.now()
    for truck in list_choice_truck:
        print str(num) + '  ' + truck
        num += 1
    
        
    vehicle = raw_input('Enter the vehicle no.: ')
    list_choice_truck.remove(vehicle)
    
    
    loading_out = raw_input('Enter the loading out time in %Y-%m-%d %H:%M:%S format: ')
    loading_out_delta = datetime.datetime.strptime(loading_out, '%Y-%m-%d %H:%M:%S')
    
    
    print 'Enter the latest toll both details: '
    
    b = []
    toll = raw_input('Toll both: ')
    list_toll.append(toll)
    distance = input('Distance travelled from 1st toll in km: ')
    ist = raw_input('IST Timestamp in %Y-%m-%d %H:%M:%S format: ')
    ist_delta = datetime.datetime.strptime(ist, '%Y-%m-%d %H:%M:%S')
    ist_delta 
#     b.extend([toll, vehicle, loading_out_delta.hour, ist_delta, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
#                   (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])
#     a.append(b)
#     dict_last_ist[vehicle] = ist_delta
#     count+=1
    
    
    add_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time', 'ist_timestamp', 'distance_travelled', 'time_of_travel',
                                         'day_of_travel', 'month_of_travel', 'days_from_now', 'time_taken'])
    
    add_df['time_btn_tolls'] = add_df['time_taken'].diff()
    add_df = add_df.fillna(0)
    final_train_df = final_train_df.append(add_df)
    
    final_test_df = final_test_df[(final_test_df['vehicle_no'] != vehicle) | (final_test_df['toll_both'].isin(list_toll) == False)] 
    
    
    
#     test_toll = raw_input('Enter the numbers of tolls the vehicle shall take in the journey SEQUENTIALLY: ')
#     test_toll_list = test_toll.split(',')
#     test_toll_list = [str(a) for a in test_toll_list]

#     a = []

#     for toll_val in test_toll_list:
#         b = []
#         distance = toll_time['distance_travelled'][toll_time.toll_both == toll_val].median()
#         ist_delta = loading_out_delta + timedelta(hours=toll_time['time_taken'][toll_time.toll_both == toll_val].median())
#         b.extend([toll_val, vehicle, loading_out_delta.hour, distance, ist_delta.hour, ist_delta.weekday(), ist_delta.month,
#                       (today_date - loading_out_delta).days, (ist_delta - loading_out_delta).total_seconds()/3600])

#         a.append(b)
#     add_test_df = pd.DataFrame(a, columns= ['toll_both','vehicle_no','loading_out_time','distance_travelled', 'time_of_travel',
#                                          'day_of_travel', 'month_of_travel', 'days_from_now','time_taken'])
    
#     add_test_df['time_btn_tolls'] = add_test_df['time_taken'].diff()
#     add_test_df = add_test_df.fillna(0)
    
#     test_df = test_df.append(add_test_df)
    
#     c = raw_input('Want to enter more vehicles?(y/n)')
    
#     if (c == 'y' or c == 'Y'):
#         continue
#     elif (c == 'n' or c == 'N'):
#         choice = False
#         print 'bbye'
#     else:
#         print 'Wrong Choice! Exiting'
#         choice = False

Choose the vehjcle no.
1  BR02GA0735
2  TN28BB9075
3  JH02M1289
Enter the vehicle no.: BR02GA0735
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-11-02 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-11-03 12:02:43
Enter the number of tolls vehicle crossed SEQUENTIALLY: 3

Toll both: Sergrarh
Distance travelled from previous toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 08:22:51
Toll both: Panikholi
Distance travelled from previous toll in km: 95.1
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 10:42:12
Toll both: Manguli
Distance travelled from previous toll in km: 54
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-04 12:10:12
Want to enter more vehicles?(y/n)y
Choose the vehjcle no.
1  TN28BB9075
2  JH02M1289
Enter the vehicle no.: TN28BB9075
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-10-03 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-10-03 22:10:00
Enter the number of tolls vehicle crossed SEQUENTIALLY: 2

Toll both: Sergrarh
Distance travelled from previous toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-04 18:10:00
Toll both: Panikholi
Distance travelled from previous toll in km: 94
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-10-04 20:40:53
Want to enter more vehicles?(y/n)y
Choose the vehjcle no.
1  JH02M1289
Enter the vehicle no.: JH02M1289
Enter the start date in %Y-%m-%d %H:%M:%S format: 2017-11-22 00:00:00
Enter the loading out time in %Y-%m-%d %H:%M:%S format: 2017-11-22 23:12:20
Enter the number of tolls vehicle crossed SEQUENTIALLY: 2

Toll both: Sergrarh
Distance travelled from previous toll in km: 0
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-23 19:45:25
Toll both: Panikholi
Distance travelled from previous toll in km: 53.8
IST Timestamp in %Y-%m-%d %H:%M:%S format: 2017-11-23 22:15:25
Want to enter more vehicles?(y/n)n
bbye

In [252]:
train_df.shape, test_df.shape, final_train_df.shape, final_test_df.shape

((3270, 11), (116, 11), (3277, 11), (103, 11))

In [253]:
final_train_df.loc[final_train_df['time_btn_tolls'] == 0, 'time_btn_tolls']  = final_train_df.loc[final_train_df['time_btn_tolls'] == 0, 'time_taken']

In [254]:
def find_toll_num(df):
    toll_dict = {}
    new_toll_dict = {}
    x = {}
    num = 1
    for toll in df.toll_both.unique().tolist():
        t = df['time_taken'][df.toll_both == toll].median()
        toll_dict[toll] = t
    
    for key, value in sorted(toll_dict.iteritems(), key=lambda (k,v): (v,k)):
        x[key] = value
        new_toll_dict[key] = num
        num+=1
        
    return new_toll_dict, x

In [255]:
new_toll_dict,x = find_toll_num(final_train_df)

In [257]:
# dict_toll_both_train_df = change_toll_booth_to_dummy(train_df)
final_train_df.toll_both = final_train_df.toll_both.replace(new_toll_dict)
final_test_df.toll_both = final_test_df.toll_both.replace(new_toll_dict)

In [260]:
def change_vehicle_no_to_dummy(df):
    num = 1
    dict_vehicle_no = {}
    for truck in df['vehicle_no'].unique().tolist():
        df['vehicle_no'] = df['vehicle_no'].replace({truck: num})
        dict_vehicle_no[num] = truck
        num += 1
    return dict_vehicle_no

In [261]:
dict_vehicle_no_train_df = change_vehicle_no_to_dummy(final_train_df)
rev_dict_vehicle_no_test_df = dict((v,k) for k,v in dict_vehicle_no_train_df.iteritems())
final_test_df.vehicle_no = final_test_df.vehicle_no.replace(rev_dict_vehicle_no_test_df)

In [266]:
ist_test = final_test_df['ist_timestamp']
final_train_df_copy = final_train_df.copy()
final_test_df_copy = final_test_df.copy()

In [267]:
final_train_df.drop(['ist_timestamp','time_taken'], axis=1, inplace=True)
final_test_df.drop(['ist_timestamp','time_taken','time_btn_tolls'], axis=1, inplace=True)

In [268]:
train_X = final_train_df.drop(['time_btn_tolls'], axis=1)
train_y = final_train_df.time_btn_tolls

In [269]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y, test_size=0.3, random_state=42)

In [270]:
scale= MinMaxScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [271]:
reg_mlp = MLPRegressor(hidden_layer_sizes=(500,), activation='logistic', alpha=8, solver='lbfgs', random_state=42)

In [273]:
# reg_svr = SVR(C=100.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1.0,
#   kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
reg_mlp.fit(X_train_scaled, y_train)
reg_mlp.score(X_test_scaled, y_test)

0.38834191231137855

In [274]:
scores = cross_val_score(reg_mlp, X_train_scaled, y_train, scoring='r2', n_jobs=-1)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.58 (+/- 0.08)

In [275]:
scale = MinMaxScaler()
X_predict_scaled = scale.fit_transform(final_test_df)
predictions = reg_mlp.predict(X_predict_scaled)

In [277]:
show_df = final_test_df.copy()
show_df['predicted'] = predictions

In [286]:
# for num, truck in dict_vehicle_no_train_df.iteritems():
list_truck = []
for truck, ist in dict_last_ist.iteritems():
    list_truck.append(truck)
    
for truck in list_truck:
    i = rev_dict_vehicle_no_test_df[truck]
    dict_last_ist[i] = dict_last_ist.pop(truck)

In [290]:
dict_last_ist

{128: datetime.datetime(2017, 11, 4, 12, 10, 12),
 129: datetime.datetime(2017, 10, 4, 20, 40, 53),
 130: datetime.datetime(2017, 11, 23, 22, 15, 25)}

In [287]:
show_df['eta'] = show_df['predicted']

In [280]:
dict_last_ist

{'BR02GA0735': datetime.datetime(2017, 11, 4, 12, 10, 12),
 'JH02M1289': datetime.datetime(2017, 11, 23, 22, 15, 25),
 'TN28BB9075': datetime.datetime(2017, 10, 4, 20, 40, 53)}

In [291]:
show_df['time_taken'] = 0
for truck, ist in dict_last_ist.iteritems():
    show_df.loc[show_df['vehicle_no'] == truck, 'time_taken'] = show_df['predicted'][show_df['vehicle_no'] == truck].cumsum()

In [293]:
for truck, ist in dict_last_ist.iteritems():
    show_df['eta'][show_df['vehicle_no'] == truck] = str(ist)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [294]:
show_df['eta'] = show_df['eta'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )

In [295]:
show_df.dtypes

toll_both                      int64
vehicle_no                     int64
loading_out_time              object
distance_travelled           float64
time_of_travel                object
day_of_travel                 object
month_of_travel               object
days_from_now                 object
predicted                    float64
eta                   datetime64[ns]
time_taken                   float64
dtype: object

In [296]:
show_df['time_taken'] = show_df['time_taken'].apply(lambda x: datetime.timedelta(hours=x) )

In [297]:
show_df['eta'] = show_df['eta'] + show_df['time_taken']

In [299]:
show_df['vehicle_no'] = show_df['vehicle_no'].apply(lambda x:dict_vehicle_no_train_df[x])

In [300]:
rev_toll_dict = dict((v,k) for k,v in new_toll_dict.iteritems())
show_df.toll_both = show_df.toll_both.replace(rev_toll_dict)

In [301]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,eta,time_taken
383,Gudipada (Old Gangapada),BR02GA0735,1,56.30,20,5,9,87,2.788219,2017-11-04 14:57:29.589585,0 days 02:47:17.589585
199,Gurapalli,BR02GA0735,1,88.58,23,5,9,87,4.217417,2017-11-04 19:10:32.290262,0 days 07:00:20.290262
2159,Bellupada,BR02GA0735,1,83.91,3,5,9,87,4.593162,2017-11-04 23:46:07.674173,0 days 11:35:55.674173
2335,Madapam,BR02GA0735,1,116.37,8,5,9,87,9.319069,2017-11-05 09:05:16.321401,0 days 20:55:04.321401
1475,Chilakapalem,BR02GA0735,1,26.47,9,5,9,87,2.555393,2017-11-05 11:38:35.735443,0 days 23:28:23.735443
2518,Nathavalasa/ Vizianagaram,BR02GA0735,1,39.33,12,5,9,87,-0.108049,2017-11-05 11:32:06.760717,0 days 23:21:54.760717
1655,Vempadu,BR02GA0735,1,132.47,17,5,9,87,12.403067,2017-11-05 23:56:17.802294,1 days 11:46:05.802294
1094,Krishnavaram,BR02GA0735,1,69.22,19,5,9,87,3.511915,2017-11-06 03:27:00.697677,1 days 15:16:48.697677
2868,Kalaparru,BR02GA0735,1,144.61,1,5,9,87,15.326998,2017-11-06 18:46:37.889529,2 days 06:36:25.889529
2695,Pottipadu,BR02GA0735,1,21.91,2,5,9,87,-1.506151,2017-11-06 17:16:15.747275,2 days 05:06:03.747275
1827,Kaza,BR02GA0735,1,45.08,3,5,9,87,1.351185,2017-11-06 18:37:20.012361,2 days 06:27:08.012361
3209,Bolapalli,BR02GA0735,1,82.52,5,5,9,87,6.938784,2017-11-07 01:33:39.633180,2 days 13:23:27.633180
3374,Tangutur,BR02GA0735,1,64.45,6,5,9,87,4.563038,2017-11-07 06:07:26.570866,2 days 17:57:14.570866
3036,Sunambatti (Musunur),BR02GA0735,1,61.42,8,5,9,87,4.336072,2017-11-07 10:27:36.428455,2 days 22:17:24.428455
2001,Budanam,BR02GA0735,1,96.99,12,5,9,87,9.602049,2017-11-07 20:03:43.806439,3 days 07:53:31.806439
3646,Gaddurur,BR02GA0735,1,216.50,20,5,9,87,25.815244,2017-11-08 21:52:38.686618,4 days 09:42:26.686618
3521,Mulbagal,BR02GA0735,1,30.61,21,5,9,87,0.055200,2017-11-08 21:55:57.406106,4 days 09:45:45.406106
886,Manguli,TN28BB9075,14,53.72,17,0,10,70,6.846087,2017-10-05 03:31:38.912371,0 days 06:50:45.912371
350,Gudipada (Old Gangapada),TN28BB9075,14,56.40,19,0,10,70,4.632456,2017-10-05 08:09:35.752673,0 days 11:28:42.752673
166,Gurapalli,TN28BB9075,14,87.66,21,0,10,70,5.897124,2017-10-05 14:03:25.397516,0 days 17:22:32.397516
2129,Bellupada,TN28BB9075,14,84.93,1,0,10,70,6.696916,2017-10-05 20:45:14.296553,1 days 00:04:21.296553
2302,Madapam,TN28BB9075,14,115.83,4,0,10,70,11.229598,2017-10-06 07:59:00.848339,1 days 11:18:07.848339
1444,Chilakapalem,TN28BB9075,14,26.86,4,0,10,70,4.771292,2017-10-06 12:45:17.501151,1 days 16:04:24.501151
1264,Laxmipuram,TN28BB9075,14,40.56,5,0,10,70,2.325261,2017-10-06 15:04:48.440012,1 days 18:23:55.440012
1623,Vempadu,TN28BB9075,14,127.77,9,0,10,70,13.883583,2017-10-07 04:57:49.339902,2 days 08:16:56.339902
1063,Krishnavaram,TN28BB9075,14,70.14,11,0,10,70,5.867018,2017-10-07 10:49:50.604150,2 days 14:08:57.604150
2838,Kalaparru,TN28BB9075,14,143.97,15,0,10,70,16.728346,2017-10-08 03:33:32.649768,3 days 06:52:39.649768
2665,Pottipadu,TN28BB9075,14,21.39,16,0,10,70,0.383183,2017-10-08 03:56:32.108164,3 days 07:15:39.108164
1797,Kaza,TN28BB9075,14,45.45,17,0,10,70,2.988424,2017-10-08 06:55:50.434163,3 days 10:14:57.434163
3178,Bolapalli,TN28BB9075,14,82.33,20,0,10,70,8.381593,2017-10-08 15:18:44.169508,3 days 18:37:51.169508
...,...,...,...,...,...,...,...,...,...,...,...
1176,Laxmipuram,JH02M1289,23,40.00,14,5,12,18,3.529336,2017-12-08 22:14:58.377902,14 days 23:59:33.377902
1534,Vempadu,JH02M1289,23,128.86,23,5,12,18,14.026984,2017-12-09 12:16:35.518918,15 days 14:01:10.518918
975,Krishnavaram,JH02M1289,23,70.21,10,5,12,18,6.629926,2017-12-09 18:54:23.251171,15 days 20:38:58.251171
2746,Kalaparru,JH02M1289,23,141.13,20,5,12,18,16.771125,2017-12-10 11:40:39.301514,16 days 13:25:14.301514
2575,Pottipadu,JH02M1289,23,21.34,20,5,12,18,1.679011,2017-12-10 13:21:23.740970,16 days 15:05:58.740970
1705,Kaza,JH02M1289,23,45.66,22,5,12,18,3.543604,2017-12-10 16:54:00.714586,16 days 18:38:35.714586
3090,Bolapalli,JH02M1289,23,79.83,6,5,12,18,9.264047,2017-12-11 02:09:51.282410,17 days 03:54:26.282410
3260,Tangutur,JH02M1289,23,63.89,7,5,12,18,7.228468,2017-12-11 09:23:33.767360,17 days 11:08:08.767360
2919,Sunambatti (Musunur),JH02M1289,23,62.41,9,5,12,18,7.223961,2017-12-11 16:37:00.026850,17 days 18:21:35.026850
1881,Budanam,JH02M1289,23,97.18,12,5,12,18,12.345193,2017-12-12 04:57:42.722132,18 days 06:42:17.722132
3554,Gaddurur,JH02M1289,23,215.33,22,5,12,18,28.092170,2017-12-13 09:03:14.534671,19 days 10:47:49.534671
3427,Mulbagal,JH02M1289,23,30.54,23,5,12,18,2.737597,2017-12-13 11:47:29.882081,19 days 13:32:04.882081
907,Manguli,JH02M1289,5,53.86,20,0,10,78,10.537975,2017-12-13 22:19:46.590787,20 days 00:04:21.590787
371,Gudipada (Old Gangapada),JH02M1289,5,55.66,7,0,10,78,7.323702,2017-12-14 05:39:11.917302,20 days 07:23:46.917302
187,Gurapalli,JH02M1289,5,89.76,12,0,10,78,7.652199,2017-12-14 13:18:19.834564,20 days 15:02:54.834564
2146,Bellupada,JH02M1289,5,83.69,17,0,10,78,6.869955,2017-12-14 20:10:31.673048,20 days 21:55:06.673048
2322,Madapam,JH02M1289,5,116.17,21,0,10,78,11.401421,2017-12-15 07:34:36.788926,21 days 09:19:11.788926
1462,Chilakapalem,JH02M1289,5,26.60,0,0,10,78,8.238625,2017-12-15 15:48:55.839939,21 days 17:33:30.839939
1284,Laxmipuram,JH02M1289,5,40.10,1,0,10,78,4.019733,2017-12-15 19:50:06.879831,21 days 21:34:41.879831
1643,Vempadu,JH02M1289,5,133.20,14,0,10,78,15.332244,2017-12-16 11:10:02.957708,22 days 12:54:37.957708
1083,Krishnavaram,JH02M1289,5,70.12,16,0,10,78,6.609867,2017-12-16 17:46:38.478903,22 days 19:31:13.478903
2858,Kalaparru,JH02M1289,5,50.91,23,0,10,78,4.204307,2017-12-16 21:58:53.983470,22 days 23:43:28.983470
2685,Pottipadu,JH02M1289,5,21.36,0,0,10,78,2.244311,2017-12-17 00:13:33.501784,23 days 01:58:08.501784
1817,Kaza,JH02M1289,5,45.75,1,0,10,78,4.548829,2017-12-17 04:46:29.286165,23 days 06:31:04.286165
3198,Bolapalli,JH02M1289,5,81.92,3,0,10,78,9.839234,2017-12-17 14:36:50.530155,23 days 16:21:25.530155
3364,Tangutur,JH02M1289,5,63.93,8,0,10,78,7.397419,2017-12-17 22:00:41.236875,23 days 23:45:16.236875
3026,Sunambatti (Musunur),JH02M1289,5,62.25,10,0,10,78,7.363990,2017-12-18 05:22:31.599823,24 days 07:07:06.599823
1991,Budanam,JH02M1289,5,98.52,12,0,10,78,12.716333,2017-12-18 18:05:30.400093,24 days 19:50:05.400093
3637,Gaddurur,JH02M1289,5,220.08,23,0,10,78,28.735300,2017-12-19 22:49:37.478382,26 days 00:34:12.478382
3512,Mulbagal,JH02M1289,5,30.80,1,0,10,78,3.693264,2017-12-20 02:31:13.227569,26 days 04:15:48.227569

In [302]:
show_df_copy = show_df.copy()
show_df.drop(['time_taken'], axis=1, inplace=True)

In [303]:
show_df['actual'] = ist_test

In [304]:
show_df

,toll_both,vehicle_no,loading_out_time,distance_travelled,time_of_travel,day_of_travel,month_of_travel,days_from_now,predicted,eta,actual
383,Gudipada (Old Gangapada),BR02GA0735,1,56.30,20,5,9,87,2.788219,2017-11-04 14:57:29.589585,2017-09-23 20:43:26
199,Gurapalli,BR02GA0735,1,88.58,23,5,9,87,4.217417,2017-11-04 19:10:32.290262,2017-09-23 23:16:32
2159,Bellupada,BR02GA0735,1,83.91,3,5,9,87,4.593162,2017-11-04 23:46:07.674173,2017-09-24 03:15:18
2335,Madapam,BR02GA0735,1,116.37,8,5,9,87,9.319069,2017-11-05 09:05:16.321401,2017-09-24 08:30:22
1475,Chilakapalem,BR02GA0735,1,26.47,9,5,9,87,2.555393,2017-11-05 11:38:35.735443,2017-09-24 09:13:54
2518,Nathavalasa/ Vizianagaram,BR02GA0735,1,39.33,12,5,9,87,-0.108049,2017-11-05 11:32:06.760717,2017-09-24 12:14:21
1655,Vempadu,BR02GA0735,1,132.47,17,5,9,87,12.403067,2017-11-05 23:56:17.802294,2017-09-25 17:58:02
1094,Krishnavaram,BR02GA0735,1,69.22,19,5,9,87,3.511915,2017-11-06 03:27:00.697677,2017-09-25 19:59:54
2868,Kalaparru,BR02GA0735,1,144.61,1,5,9,87,15.326998,2017-11-06 18:46:37.889529,2017-09-26 01:23:18
2695,Pottipadu,BR02GA0735,1,21.91,2,5,9,87,-1.506151,2017-11-06 17:16:15.747275,2017-09-26 02:04:59
1827,Kaza,BR02GA0735,1,45.08,3,5,9,87,1.351185,2017-11-06 18:37:20.012361,2017-09-26 03:17:59
3209,Bolapalli,BR02GA0735,1,82.52,5,5,9,87,6.938784,2017-11-07 01:33:39.633180,2017-09-26 05:20:09
3374,Tangutur,BR02GA0735,1,64.45,6,5,9,87,4.563038,2017-11-07 06:07:26.570866,2017-09-26 06:58:50
3036,Sunambatti (Musunur),BR02GA0735,1,61.42,8,5,9,87,4.336072,2017-11-07 10:27:36.428455,2017-09-26 08:32:55
2001,Budanam,BR02GA0735,1,96.99,12,5,9,87,9.602049,2017-11-07 20:03:43.806439,2017-09-26 12:16:01
3646,Gaddurur,BR02GA0735,1,216.50,20,5,9,87,25.815244,2017-11-08 21:52:38.686618,2017-09-26 20:52:15
3521,Mulbagal,BR02GA0735,1,30.61,21,5,9,87,0.055200,2017-11-08 21:55:57.406106,2017-09-26 21:54:18
886,Manguli,TN28BB9075,14,53.72,17,0,10,70,6.846087,2017-10-05 03:31:38.912371,2017-10-09 17:53:56
350,Gudipada (Old Gangapada),TN28BB9075,14,56.40,19,0,10,70,4.632456,2017-10-05 08:09:35.752673,2017-10-09 19:40:06
166,Gurapalli,TN28BB9075,14,87.66,21,0,10,70,5.897124,2017-10-05 14:03:25.397516,2017-10-09 21:53:15
2129,Bellupada,TN28BB9075,14,84.93,1,0,10,70,6.696916,2017-10-05 20:45:14.296553,2017-10-10 01:04:01
2302,Madapam,TN28BB9075,14,115.83,4,0,10,70,11.229598,2017-10-06 07:59:00.848339,2017-10-10 04:03:13
1444,Chilakapalem,TN28BB9075,14,26.86,4,0,10,70,4.771292,2017-10-06 12:45:17.501151,2017-10-10 04:43:21
1264,Laxmipuram,TN28BB9075,14,40.56,5,0,10,70,2.325261,2017-10-06 15:04:48.440012,2017-10-10 05:48:22
1623,Vempadu,TN28BB9075,14,127.77,9,0,10,70,13.883583,2017-10-07 04:57:49.339902,2017-10-10 09:20:31
1063,Krishnavaram,TN28BB9075,14,70.14,11,0,10,70,5.867018,2017-10-07 10:49:50.604150,2017-10-10 11:10:58
2838,Kalaparru,TN28BB9075,14,143.97,15,0,10,70,16.728346,2017-10-08 03:33:32.649768,2017-10-10 15:21:41
2665,Pottipadu,TN28BB9075,14,21.39,16,0,10,70,0.383183,2017-10-08 03:56:32.108164,2017-10-10 16:05:41
1797,Kaza,TN28BB9075,14,45.45,17,0,10,70,2.988424,2017-10-08 06:55:50.434163,2017-10-10 17:29:06
3178,Bolapalli,TN28BB9075,14,82.33,20,0,10,70,8.381593,2017-10-08 15:18:44.169508,2017-10-10 20:02:34
...,...,...,...,...,...,...,...,...,...,...,...
1176,Laxmipuram,JH02M1289,23,40.00,14,5,12,18,3.529336,2017-12-08 22:14:58.377902,2017-12-03 14:46:47
1534,Vempadu,JH02M1289,23,128.86,23,5,12,18,14.026984,2017-12-09 12:16:35.518918,2017-12-03 23:03:16
975,Krishnavaram,JH02M1289,23,70.21,10,5,12,18,6.629926,2017-12-09 18:54:23.251171,2017-12-04 10:30:20
2746,Kalaparru,JH02M1289,23,141.13,20,5,12,18,16.771125,2017-12-10 11:40:39.301514,2017-12-04 20:12:19
2575,Pottipadu,JH02M1289,23,21.34,20,5,12,18,1.679011,2017-12-10 13:21:23.740970,2017-12-04 20:54:28
1705,Kaza,JH02M1289,23,45.66,22,5,12,18,3.543604,2017-12-10 16:54:00.714586,2017-12-04 22:22:30
3090,Bolapalli,JH02M1289,23,79.83,6,5,12,18,9.264047,2017-12-11 02:09:51.282410,2017-12-05 06:08:01
3260,Tangutur,JH02M1289,23,63.89,7,5,12,18,7.228468,2017-12-11 09:23:33.767360,2017-12-05 07:52:12
2919,Sunambatti (Musunur),JH02M1289,23,62.41,9,5,12,18,7.223961,2017-12-11 16:37:00.026850,2017-12-05 09:20:14
1881,Budanam,JH02M1289,23,97.18,12,5,12,18,12.345193,2017-12-12 04:57:42.722132,2017-12-05 12:02:54
3554,Gaddurur,JH02M1289,23,215.33,22,5,12,18,28.092170,2017-12-13 09:03:14.534671,2017-12-05 22:07:52
3427,Mulbagal,JH02M1289,23,30.54,23,5,12,18,2.737597,2017-12-13 11:47:29.882081,2017-12-05 23:18:03
907,Manguli,JH02M1289,5,53.86,20,0,10,78,10.537975,2017-12-13 22:19:46.590787,2017-10-02 20:19:43
371,Gudipada (Old Gangapada),JH02M1289,5,55.66,7,0,10,78,7.323702,2017-12-14 05:39:11.917302,2017-10-03 07:17:46
187,Gurapalli,JH02M1289,5,89.76,12,0,10,78,7.652199,2017-12-14 13:18:19.834564,2017-10-03 12:27:37
2146,Bellupada,JH02M1289,5,83.69,17,0,10,78,6.869955,2017-12-14 20:10:31.673048,2017-10-03 17:37:38
2322,Madapam,JH02M1289,5,116.17,21,0,10,78,11.401421,2017-12-15 07:34:36.788926,2017-10-03 21:21:24
1462,Chilakapalem,JH02M1289,5,26.60,0,0,10,78,8.238625,2017-12-15 15:48:55.839939,2017-10-04 00:16:43
1284,Laxmipuram,JH02M1289,5,40.10,1,0,10,78,4.019733,2017-12-15 19:50:06.879831,2017-10-04 01:41:44
1643,Vempadu,JH02M1289,5,133.20,14,0,10,78,15.332244,2017-12-16 11:10:02.957708,2017-10-04 14:57:43
1083,Krishnavaram,JH02M1289,5,70.12,16,0,10,78,6.609867,2017-12-16 17:46:38.478903,2017-10-04 16:54:05
2858,Kalaparru,JH02M1289,5,50.91,23,0,10,78,4.204307,2017-12-16 21:58:53.983470,2017-10-04 23:16:37
2685,Pottipadu,JH02M1289,5,21.36,0,0,10,78,2.244311,2017-12-17 00:13:33.501784,2017-10-05 00:07:37
1817,Kaza,JH02M1289,5,45.75,1,0,10,78,4.548829,2017-12-17 04:46:29.286165,2017-10-05 01:18:46
3198,Bolapalli,JH02M1289,5,81.92,3,0,10,78,9.839234,2017-12-17 14:36:50.530155,2017-10-05 03:24:12
3364,Tangutur,JH02M1289,5,63.93,8,0,10,78,7.397419,2017-12-17 22:00:41.236875,2017-10-05 08:04:48
3026,Sunambatti (Musunur),JH02M1289,5,62.25,10,0,10,78,7.363990,2017-12-18 05:22:31.599823,2017-10-05 10:27:58
1991,Budanam,JH02M1289,5,98.52,12,0,10,78,12.716333,2017-12-18 18:05:30.400093,2017-10-05 12:44:09
3637,Gaddurur,JH02M1289,5,220.08,23,0,10,78,28.735300,2017-12-19 22:49:37.478382,2017-10-05 23:58:04
3512,Mulbagal,JH02M1289,5,30.80,1,0,10,78,3.693264,2017-12-20 02:31:13.227569,2017-10-06 01:04:14